.row
    .col-lg-4
        .panel.panel-white
            .panel-heading Vertical
            .panel-body
                h3 Basic progressbar
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='75')
                .clearfix
                h3 Themed progressbars
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Striped progressbars
                .progress.progress-striped.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Animated progressbars
                .progress.progress-striped.active.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom aria range
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='2', aria-valuemin='1', aria-valuemax='6')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40', aria-valuemin='-40', aria-valuemax='200')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60', aria-valuemax='120')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80', aria-valuemin='30')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 custom animations
                .progress.vertical.wide
                    .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='20')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom Size
                .progress.progress-xs.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-sm.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-lg.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
        .panel.panel-white
            .panel-heading Center text
            .panel-body#vertical-center-text
                h3 Basic progressbar
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='75')
                .clearfix
                h3 Themed progressbars
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Striped progressbars
                .progress.progress-striped.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Animated progressbars
                .progress.progress-striped.active.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom aria range
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='2', aria-valuemin='1', aria-valuemax='6')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40', aria-valuemin='-40', aria-valuemax='200')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60', aria-valuemax='120')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80', aria-valuemin='30')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 custom animations
                .progress.vertical.wide
                    .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='20')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='100')
    .col-lg-4
        .panel.panel-white
            .panel-heading Filled text
            .panel-body#vertical-filled-text
                h3 Basic progressbar
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='75')
                .clearfix
                h3 Themed progressbars
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Striped progressbars
                .progress.progress-striped.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Animated progressbars
                .progress.progress-striped.active.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom aria range
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='2', aria-valuemin='1', aria-valuemax='6')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40', aria-valuemin='-40', aria-valuemax='200')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60', aria-valuemax='120')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80', aria-valuemin='30')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 custom animations
                .progress.vertical.wide
                    .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='20')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='100')
        .panel.panel-white
            .panel-heading Filled text (nonpercentage)
            .panel-body#vertical-filled-text-nonpercentage
                h3 Basic progressbar
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='75')
                .clearfix
                h3 Themed progressbars
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Striped progressbars
                .progress.progress-striped.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Animated progressbars
                .progress.progress-striped.active.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom aria range
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='2', aria-valuemin='1', aria-valuemax='6')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40', aria-valuemin='-40', aria-valuemax='200')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60', aria-valuemax='120')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80', aria-valuemin='30')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 custom animations
                .progress.vertical.wide
                    .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='20')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='100')

    .col-lg-4
        .panel.panel-white
            .panel-heading Vertical (Bottom)
            .panel-body
                h3 Basic progressbar
                .progress.vertical.wide.bottom
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='75')
                .clearfix
                h3 Themed progressbars
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Striped progressbars
                .progress.progress-striped.vertical.wide.bottom
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.vertical.wide.bottom
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.vertical.wide.bottom
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.vertical.wide.bottom
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.vertical.wide.bottom
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Animated progressbars
                .progress.progress-striped.active.vertical.wide.bottom
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.active.vertical.wide.bottom
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.active.vertical.wide.bottom
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.active.vertical.wide.bottom
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.active.vertical.wide.bottom
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom aria range
                .progress.vertical.wide.bottom
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='2', aria-valuemin='1', aria-valuemax='6')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40', aria-valuemin='-40', aria-valuemax='200')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60', aria-valuemax='120')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80', aria-valuemin='30')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 custom animations
                .progress.vertical.wide.bottom
                    .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='20')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-info.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-success.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-warning.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-danger.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom Size
                .progress.progress-xs.vertical.wide.bottom
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-sm.vertical.wide.bottom
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide.bottom
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-lg.vertical.wide.bottom
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
        .panel.panel-white
            .panel-heading Center text (nonpercentage)
            .panel-body#vertical-center-text-nonpercentage
                h3 Basic progressbar
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='75')
                .clearfix
                h3 Themed progressbars
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Striped progressbars
                .progress.progress-striped.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Animated progressbars
                .progress.progress-striped.active.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='20')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80')
                .progress.progress-striped.active.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 Custom aria range
                .progress.vertical.wide
                    .progress-bar(role='progressbar', aria-valuetransitiongoal='2', aria-valuemin='1', aria-valuemax='6')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info(role='progressbar', aria-valuetransitiongoal='40', aria-valuemin='-40', aria-valuemax='200')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuetransitiongoal='60', aria-valuemax='120')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuetransitiongoal='80', aria-valuemin='30')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuetransitiongoal='100')
                .clearfix
                h3 custom animations
                .progress.vertical.wide
                    .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='20')
                .progress.vertical.wide
                    .progress-bar.progress-bar-info.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='40')
                .progress.vertical.wide
                    .progress-bar.progress-bar-success.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='60')
                .progress.vertical.wide
                    .progress-bar.progress-bar-warning.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='80')
                .progress.vertical.wide
                    .progress-bar.progress-bar-danger.six-sec-ease-in-out(role='progressbar', aria-valuetransitiongoal='100')
