.row
    .col-lg-12
        h3 Family Treeview - Horizontal
        .family-tree-horizontal
            ul
                li
                    a(href='#') Parent
                    ul
                        li
                            a(href='#') Child
                            ul
                                li
                                    a(href='#') Grand Child
                        li
                            a(href='#') Child
                            ul
                                li
                                    a(href='#') Grand Child
                                li
                                    a(href='#') Grand Child
                                    ul
                                        li
                                            a(href='#') Great Grand Child
                                        li
                                            a(href='#') Great Grand Child
                                        li
                                            a(href='#') Great Grand Child
                                li
                                    a(href='#') Grand Child
hr
.row
    .col-lg-12
        h3 Family Treeview - Vertical
        .family-tree-vertical
            ul
                li
                    a(href='#') Parent
                    ul
                        li
                            a(href='#') Child
                            ul
                                li
                                    a(href='#') Grand Child
                        li
                            a(href='#') Child
                            ul
                                li
                                    a(href='#') Grand Child
                                li
                                    a(href='#') Grand Child
                                    ul
                                        li
                                            a(href='#') Great Grand Child
                                        li
                                            a(href='#') Great Grand Child
                                        li
                                            a(href='#') Great Grand Child
                                li
                                    a(href='#') Grand Child