<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2">
  <md-toolbar class="md-hue-2">
    <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn" aria-label="{{'app.name' | translate}}">
      <span class="md-heading" translate="app.name"></span>
    </md-button>
  </md-toolbar>
  <app-menu is-side-menu="true"></app-menu>
</md-sidenav>

<div layout="column" flex>
  <md-toolbar id="header" layout="row" layout-align="end center" ng-init="showSearch = false">
    <div class="md-toolbar-tools">
      <md-button hide-gt-sm class="md-icon-button" ng-click="appCtrl.toggleItemsList()"  aria-label="Menu">
        <md-icon md-font-set="material-icons">menu</md-icon>
      </md-button>
      <!--<app-menu ng-if="!showSearch" ></app-menu>-->
      <md-input-container flex ng-if="showSearch" >
        <label>&nbsp;</label>
        <input ng-model="search.who" type="text" placeholder="enter search" ng-blur="showSearch = false">
      </md-input-container>
      <span flex ng-if="!showSearch" ></span>
      <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
        <md-icon md-font-set="material-icons">search</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-icon md-font-set="material-icons">notifications</md-icon>
        <span class="notifications-label">7</span>
      </md-button>
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-font-set="material-icons">settings</md-icon>
      </md-button>

    </div>
    <div class="md-accent" layout="row" layout-align="center center" >
      <img class="img-circle" ng-src="assets/img/avatar.png">
      <md-menu md-offset="0 50">
        <md-button class="capitalize" ng-click="$mdOpenMenu()" aria-label="Open menu" >
          <span>John Doe</span>
          <md-icon  class="material-icons" md-menu-origin>keyboard_arrow_down</md-icon>
        </md-button>
        <md-menu-content  width="4">
          <md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="home.profile">Profile</md-button></md-menu-item>
          <md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="home.dashboard">Log out</md-button></md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <div id="mainContent" ui-view></div>
</div>
