<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

  <header class="nav-header">
    <a ng-href="#/" class="logo">
      <i class="fa fa-btc"></i>
      <span class="md-heading" translate="app.name"></span>
    </a>
  </header>
  <md-content flex role="navigation" data-ng-include=" 'shared/sidebar/sidebar.html' ">

  </md-content>
</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex>
  <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">

    <div class="md-toolbar-tools docs-toolbar-tools" ng-click="openMenu()" tabIndex="-1">
      <md-button class="md-icon-button" hide-gt-sm aria-label="Toggle Menu">
        <md-icon md-font-set="material-icons"> menu </md-icon>
      </md-button>
      <div layout="row" flex class="fill-height">

        <h2 class="h3 md-toolbar-item md-breadcrumb md-headline" translate="pages.{{state.$current.name | stateToI10n}}.title">
        </h2>

        <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
        </div>

        <span flex></span> <!-- use up the empty space -->

        <div class="md-toolbar-item docs-tools" layout="row">
          <md-button class="md-icon-button"
                     aria-label="Install with Bower"
                     ng-if="!currentComponent.docs.length"
                     target="_blank"
                     ng-href="https://github.com/angular/bower-material">
            <md-tooltip md-autohide>Install with Bower</md-tooltip>
            <md-icon md-svg-src="img/icons/bower-logo.svg"></md-icon>
          </md-button>


        </div>
      </div>
    </div>

  </md-toolbar>

  <md-content md-scroll-y flex layout-padding ui-view></md-content>

</div>
