form.form-horizontal.form-bordered(action='#')
    .form-body
        .form-group
            label.col-md-3.control-label Default
            .col-md-6
                input#example-1(type='text', name='example1', value='10000;100000')
        .form-group
            label.col-md-3.control-label Range 1
            .col-md-6
                input#example-2(type='text', name='example2', value='')
        .form-group
            label.col-md-3.control-label Range 2
            .col-md-6
                input#example-3(type='text', name='example3', value='1000;100000', data-type='double', data-step='500', data-postfix=' €', data-from='30000', data-to='90000', data-hasgrid='true')
        .form-group
            label.col-md-3.control-label Length Slider
            .col-md-6
                input#example-4(type='text', name='example4', value='')
        .form-group
            label.col-md-3.control-label Temperature Slider
            .col-md-6
                input#example-5(type='text', name='example5', value='')
        .form-group
            label.col-md-3.control-label Month Slider
            .col-md-6
                input#example-6(type='text', name='example6', value='')