form.form-horizontal.form-bordered(action='#')
    .form-body
        .form-group
            label.col-md-3.control-label Default
            .col-md-6
                #noui-slider-default
        .form-group
            label.col-md-3.control-label Range
            .col-md-6
                p
                    span#slider1val.example-val
                #noui-slider-range
        .form-group
            label.col-md-3.control-label Stepping and snapping to values
            .col-md-6
                p
                    span#slider2val.example-val
                #noui-slider-step-snap
