.row
    .col-lg-12
        table.table.table-hover.table-striped.table-bordered.table-advanced.tablesorter
            thead
                tr
                    th(width='3%')
                        input.checkall(type='checkbox')
                    th(width='7%') Record #
                    th Username
                    th(width='10%') Country
                    th(width='10%') Gender
                    th(width='7%') Order
                    th(width='10%') Date
                    th(width='15%') Skills
                    th(width='7%') Status
                    th(width='12%') Actions
            tbody
                tr
                    td
                        input(type='checkbox')
                    td 1
                    td Henry
                    td United States
                    td
                        select.form-control
                            option Male
                            option Female
                            option Other
                    td
                        input.spinner.input-mini(type='text', value='32')
                    td 20-05-2014
                    td
                        .progress.progress-xs.mbs(data-hover='tooltip', title='75%')
                            .progress-bar.progress-bar-green(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%;')
                                span.sr-only 75% Complete
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                        | &nbsp;
                        button.btn.btn-danger.btn-xs(type='button')
                            i.fa.fa-trash-o
                            | &nbsp;
                            | Delete
                tr
                    td
                        input(type='checkbox')
                    td 2
                    td John
                    td United States
                    td
                        select.form-control
                            option Male
                            option Female
                            option Other
                    td
                        input.spinner.input-mini(type='text', value='45')
                    td 20-05-2014
                    td
                        .progress.progress-xs.mbs(data-hover='tooltip', title='40%')
                            .progress-bar.progress-bar-red.six-sec-ease-in-out(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                                span.sr-only 40% Complete
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                        | &nbsp;
                        button.btn.btn-danger.btn-xs(type='button')
                            i.fa.fa-trash-o
                            | &nbsp;
                            | Delete
                tr
                    td
                        input(type='checkbox')
                    td 3
                    td Larry
                    td United States
                    td
                        select.form-control
                            option Male
                            option(selected='selected') Female
                            option Other
                    td
                        input.spinner.input-mini(type='text', value='40')
                    td 20-05-2014
                    td
                        .progress.progress-xs.mbs(data-hover='tooltip', title='80%')
                            .progress-bar.progress-bar-yellow(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                                span.sr-only 80% Complete
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                        | &nbsp;
                        button.btn.btn-danger.btn-xs(type='button')
                            i.fa.fa-trash-o
                            | &nbsp;
                            | Delete
                tr
                    td
                        input(type='checkbox')
                    td 4
                    td Lahm
                    td United States
                    td
                        select.form-control
                            option Male
                            option Female
                            option Other
                    td
                        input.spinner.input-mini(type='text', value='15')
                    td 20-05-2014
                    td
                        .progress.progress-xs.mbs(data-hover='tooltip', title='60%')
                            .progress-bar.progress-bar-violet(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                                span.sr-only 60% Complete
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                        | &nbsp;
                        button.btn.btn-danger.btn-xs(type='button')
                            i.fa.fa-trash-o
                            | &nbsp;
                            | Delete
