a#theme-setting.dropdown-toggle(href='javascript:;', data-hover='dropdown', data-step='4', data-intro='<b>Many styles</b> and <b>colors</b> be created for you. Let choose one and enjoy it!', data-position='left')
    i.fa.fa-cogs
ul.dropdown-menu.dropdown-theme-setting.pull-right
    li
        h4.mtn Theme Styles
        select#list-style.form-control
            option(value='style1') Flat Squared style
            option(value='style2') Flat Rounded style
            option(value='style3') Flat Border style
    li
        h4.mtn Menu Styles
        select#list-menu.form-control
            option(value="sidebar-default") Menu style 1
            option(value="sidebar-colors") Menu style 2
            option(value="sidebar-icons") Menu style 3
            option(value="sidebar-collapsed") Menu style 4
    li
        h4.mtn Header & Topbar
        select#list-header.form-control
            option(value="static") Static
            option(value="header-fixed") Fixed
    li
        h4.mtn Theme Colors
        ul#list-color.list-unstyled.list-inline
            li.green-dark(data-color='green-dark', data-hover='tooltip', title="Green - Dark")
            li.red-dark(data-color='red-dark', data-hover='tooltip', title="Red - Dark")
            li.pink-dark(data-color='pink-dark', data-hover='tooltip', title="Pink - Dark")
            li.blue-dark(data-color='blue-dark', data-hover='tooltip', title="Blue - Dark")
            li.yellow-dark(data-color='yellow-dark', data-hover='tooltip', title="Yellow - Dark")
            li.green-grey(data-color='green-grey', data-hover='tooltip', title="Green - Grey")
            li.red-grey(data-color='red-grey', data-hover='tooltip', title="Red - Grey")
            li.pink-grey(data-color='pink-grey', data-hover='tooltip', title="Pink - Grey")
            li.blue-grey(data-color='blue-grey', data-hover='tooltip', title="Blue - Grey")
            li.yellow-grey(data-color='yellow-grey', data-hover='tooltip', title="Yellow - Grey")
            li.yellow-green(data-color='yellow-green', data-hover='tooltip', title="Yellow - Green")
            li.orange-grey(data-color='orange-grey', data-hover='tooltip', title="Orange - Grey")
            li.pink-blue(data-color='pink-blue', data-hover='tooltip', title="Pink - Blue")
            li.pink-violet.active(data-color='pink-violet', data-hover='tooltip', title="Pink - Violet")
            li.orange-violet(data-color='orange-violet', data-hover='tooltip', title="Orange - Violet")
            li.pink-green(data-color='pink-green', data-hover='tooltip', title="Pink - Green")
            li.pink-brown(data-color='pink-brown', data-hover='tooltip', title="Pink - Brown")
            li.orange-blue(data-color='orange-blue', data-hover='tooltip', title="Orange - Blue")
            li.yellow-blue(data-color='yellow-blue', data-hover='tooltip', title="Yellow - Blue")
            li.green-blue(data-color='green-blue', data-hover='tooltip', title="Green - Blue")