.page-header
    .page-title.mrm
        | Title & Subtitle & Breadcrumb Inline Left
    .page-subtitle
        | Lorem ipsum dolor sit amet
hr
ol.breadcrumb.page-breadcrumb
    li
        i.fa.fa-home
        | &nbsp;
        a(href='index.html') Home
        | &nbsp;&nbsp;
        i.fa.fa-angle-right
    li(ng-repeat="(k,v) in data.breadcrumb", ng-class="{active:$last}")
        | &nbsp;&nbsp;
        | {{v}}
        | &nbsp;&nbsp;
        i.fa.fa-angle-right(ng-if="!$last")
    li.active
        = title
.clearfix