<%
    allProps = scaffoldingHelper.getProps(domainClass)
    props = allProps.grep{it.cp?.display != false}
   
%>
<%
private String renderFieldRow(p, owningClass, parentProperty = null){

    if (p.type == Boolean || p.type == boolean)
        return renderBoolean(owningClass, p, parentProperty)
    else if (p.type && Number.isAssignableFrom(p.type) || (p.type?.isPrimitive() && p.type != boolean))
        return renderString(owningClass, p, parentProperty)
    else if (p.type == String)
        return renderString(owningClass, p, parentProperty)
    else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar)
        return renderString(owningClass, p, parentProperty)
    else if (p.type == URL)
        return renderString(owningClass, p, parentProperty)
    else if (p.type && p.isEnum())
        return renderEnum(owningClass, p, parentProperty)
    else if (p.type == TimeZone)
        return renderSelectType(owningClass, p, parentProperty, "timeZone")
    else if (p.type == Locale)
        return renderSelectType(owningClass, p, parentProperty, "locale")
    else if (p.type == Currency)
        return renderSelectType(owningClass, p, parentProperty, "currency")
    else if (p.type==([] as byte[]).class) //TODO: Bug in groovy means i have to do this :(
        return renderByteArray(owningClass, p, parentProperty)
    else if (p.manyToOne || p.oneToOne)
        return renderManyToOne(owningClass, p, parentProperty)
    else if (p.joinProperty){
        return renderJoinProperty(domainClass, p, parentProperty, p.joinProperty)
    }else if ((p.oneToMany && !p.bidirectional) || p.manyToMany) {
        return renderManyToMany(domainClass, p, parentProperty)
    }else if (p.oneToMany)
        return renderOneToMany(domainClass, p, parentProperty)
    else
        return "<!-- No type for ${p.name} -->"

}


private String renderString(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
    return """
        <div class="form-group">
            <label class="col-sm-2 control-label"
                   translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
}

private String renderBoolean(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
   return """
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
}

private String renderByteArray(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
   return """
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
}


private renderSelectType(owningClass, p, parentProperty, type) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
     return """
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
}

private String renderEnum(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
     return """
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
}

private String renderManyToOne(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ["id":null]
    
    String str = """<!--ManyToOne-->
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static">
            """
    useDisplaynames.each{ key, value->
        str += """<span ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}.${key}"></span> """
    }
    str += """</div></div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
    
    return str
}

private String renderManyToMany(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
    return """<!--ManyToMany-->
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
}

private String renderOneToMany(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.component.propertyName + '.' : ''
    return """<!--OneToMany-->
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.${owningClass.shortName}.view.field.${parentPropName}${p.name}"></label>
            <div class="col-sm-10 form-control-static" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    """
}

private renderJoinProperty(owningClass, p, parentProperty, joinProperty) {
    return  """//JoinProperty
    //${grails.util.GrailsNameUtils.getShortName(p.getReferencedPropertyType()).toLowerCase()}
                //${grails.util.GrailsNameUtils.getShortName(joinProperty.getReferencedPropertyType()).toLowerCase()}
                //referencedPropertyName:'${p.getReferencedPropertyName()}.id'
                //${p.naturalName}
        """
}




%>

<div ng-init="pageTitle = 'pages.${domainClass.shortName}.view.title'" ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="wrapper-md ng-scope">
    <div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			      <span class="h4" translate="pages.${domainClass.shortName}.view.title"></span>
			    </div>
			    <div class="panel-body">
			    	<div class="form-horizontal">
<%for (p in props) {
    if (!p.oneToMany && !p.manyToMany) {
        if(p.embedded){
            def embeddedProps = scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false && it.name!= 'id'}
            if(embeddedProps){
                    %>
                    <accordion close-others="false">
                        <accordion-group
                                heading="{{'pages.${domainClass.shortName}.view.field.${p.name}.title' | translate}}"
                                is-open="isSearchOpen">
                            <div class="row">
                                <%embeddedProps.each{ep->
                                println renderFieldRow(ep, domainClass, p)
                                }%>
                            </div>
                        </accordion-group>
                    </accordion>
                    <%
            }
        }else{
            println renderFieldRow(p, domainClass)
        }
    }
}%>
					</div>
			    </div>
			    <footer class="panel-footer text-right bg-light lter">
			      	<a id="editBtn" class="btn btn-default" ui-sref="app.${domainClass.propertyName}.edit({id:${domainClass.propertyName}.id})">
				    	<i class="fa fa-edit" translate="pages.${domainClass.shortName}.view.edit"></i>
			       	</a>
					<a id="deleteBtn" class="btn btn-danger" ng-click="delete${domainClass.shortName}(${domainClass.propertyName})" mx-show-loading>
						<i class="fa fa-trash-o" translate="pages.${domainClass.shortName}.view.delete"></i>
			        </a>
					
					<a id="backBtn" class="btn btn-default" ng-click="back()">
						<i class="fa fa-chevron-left" translate="pages.${domainClass.shortName}.view.back"></i>
					</a>
					
			    </footer>
			 </div>
		</div>
        <div>
            <%
            relationsProps = scaffoldingHelper.findRelationsProps(domainClass, domainClasses as List)
            relationsProps.each{property, domainCl->
                Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(domainCl, property)
                if(!useDisplaynames) useDisplaynames = ['id': null]
                String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
            %>
             <div class="form-group"    
             ng-init="search={${property.name}s:[autocompleteService.promiseToLabel(${domainClass.propertyName}, [$useDisplaynamesStr])]}"
                    ng-controller="${domainCl.shortName}EmbeddedListController" 
                    >
                <div class="col-sm-10 form-control-static" 
                    ng-controller="${domainCl.shortName}ListController" 
                    ng-include="'app/${domainCl.propertyName}/${domainCl.propertyName}.list.html'">
                   <a class="h4" href ui-sref="app.${domainCl.propertyName}.list({search:{}})" 
                        translate="pages.${domainCl.shortName}.view.lists" 
                        translate-value-isval="{{ 'pages.${property.getDomainClass().shortName}.view.field.${property.name}' | translate }}" translate-value-inval="{{ 'pages.${domainCl.shortName}.name' | translate }}">
                   </a>
                </div>
             </div>
        <%}%>
        </div>       
		
		
	</div>
</div>			