<%
    allProps = scaffoldingHelper.getProps(domainClass)
    props = allProps.findAll{p->!p.embedded && !p.oneToMany && !p.manyToMany}.grep{it.cp?.display != false}
    allEmbeddedProps = allProps.findAll{p->p.embedded}.grep{it.cp?.display != false}

private renderFieldRow(p, owningClass) {
    if (p.type && p.isEnum()){
        return "<td>{{::${owningClass.propertyName}.${p.name}}}</td>"
    }else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar){
        return "<td>{{${owningClass.propertyName}.${p.name} | date:'yyyy-MM-dd HH:mm'}}</td>"
    }else if (p.manyToOne || p.oneToOne){
        Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
        if(!useDisplaynames) useDisplaynames = ["id":null]
        
        String str ="<td>"
        useDisplaynames.each{ key, value->
            str += """{{::${owningClass.propertyName}.${p.name}.${key}}} """
        }
        str += "</td>"
        return str
    }else{
        return "<td>{{::${owningClass.propertyName}.${p.name}}}</td>"
    }
}

private renderFieldHeader(p, owningClass) {
	return """<th st-sort="${p.name}" translate="pages.${domainClass.shortName}.list.table.header.${p.name}" ></th>"""
}


//####################### SEARCH ###################################


private String renderFieldSearch(p, owningClass, parentProperty = null){

    String str = """<div class="col-lg-2 form-group">"""

    if(p.cp.widget == 'autocomplete' || parentProperty?.cp?.widget == 'autocomplete'){
        str += renderAutocomplete(owningClass, p, parentProperty)
    }else if (p.type == Boolean || p.type == boolean)
        str += renderBoolean(owningClass, p, parentProperty)
    else if (p.type && Number.isAssignableFrom(p.type) || (p.type?.isPrimitive() && p.type != boolean))
        str += renderNumber(owningClass, p, parentProperty)
    else if (p.type == String)
        str += renderString(owningClass, p, parentProperty)
    else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar)
        str += renderDate(owningClass, p, parentProperty)
    else if (p.type == URL)
        str += renderUrl(domainClass, p, parentProperty)
    else if (p.type && p.isEnum())
        str += renderEnum(domainClass, p, parentProperty)
    else if (p.type == TimeZone)
        str += renderSelectType(domainClass, p, parentProperty, "timeZone")
    else if (p.type == Locale)
        str += renderSelectType(domainClass, p, parentProperty, "locale")
    else if (p.type == Currency)
        str += renderSelectType(domainClass, p, parentProperty, "currency")
    else if (p.type==([] as byte[]).class) //TODO: Bug in groovy means i have to do this :(
        str += renderByteArray(domainClass, p, parentProperty)
    else if (p.manyToOne || p.oneToOne)
        str += renderManyToOne(domainClass, p, parentProperty)
    else if (p.joinProperty){
        str += renderJoinProperty(domainClass, p, parentProperty, p.joinProperty)
    }
    else if ((p.oneToMany && !p.bidirectional) || p.manyToMany) {
        str += renderManyToMany(domainClass, p, parentProperty)
    }
    else if (p.oneToMany)
        str += renderOneToMany(domainClass, p, parentProperty)
    else
        return "<!-- No type for ${p.name} -->"
        
    str += "</div>"
    return str
 
}

private String renderString(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.name + '.' : ''
    String str = """<div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="${parentPropName}${p.name}"
                   		ng-model="search.${parentPropName}${p.name}"
                   		st-search="'${parentPropName}${p.name}'"
                   		class="form-control" 
                   		type="text" 
                   		placeholder="{{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}" """
    
    if (p.cp.matches) str += """ ng-pattern="/${p.cp.matches}/" """
    str += " ></div> "
    return str
}


private String renderBoolean(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
      return """
    <div class="form-group">
	  <label for="${parentPropName}${p.name}" class="control-label">
          {{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}</label>
	  <div class="input-group input-group-sm">
		<ng-toggle 
			tri-toggle 
			name="${parentPropName}${p.name}"
			ng-model="search.${parentPropName}${p.name}"
			custom-st-search="${parentPropName}${p.name}"
			ng-true-val="'true'" 
			ng-false-val="'false'" 
			></ng-toggle> 
	  </div>
	 </div>
     """

}

private String renderByteArray(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
      return """<div class="input-group input-group-sm">
                    <span class="input-group-addon">file</span> 
                    <input 
                    	name="${parentPropName}${p.name}"
                    	ng-model="search.${parentPropName}${p.name}"
                    	st-search="'${parentPropName}${p.name}'"
                    	class="form-control" type="file"   >
                </div>"""
}



private String renderDate(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String parentPropNameFunc = (parentProperty?.component) ? parentProperty.name : ''
     String str =  """
     <div class="input-group input-group-sm">
     <input 
     	name="${parentPropName}${p.name}"
     	ng-model="search.${parentPropName}${p.name}"
        custom-st-search="${parentPropName}${p.name}"
     	type="text" 
     	class="form-control" 
     	placeholder="{{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}"
        datepicker-popup
        is-open="${owningClass.propertyName}.${parentPropNameFunc}_${p.name}Open"
        ng-click="${owningClass.propertyName}.${parentPropNameFunc}_${p.name}Open = true"
      """
      
      str += """
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
      """
      return str;
}



private String renderNumber(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String str = """<div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="${parentPropName}${p.name}"
                        	ng-model="search.${parentPropName}${p.name}"
                        	st-search="'${parentPropName}${p.name}'"
                        	class="form-control" 
                        	placeholder="{{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}"
                        	 """
                        
    String rangeExtraInputStr = ""
    if (p.cp.range) {
        rangeExtraInputStr = """<span class="input-group-addon">{{${p.name}}}</span>"""
        str += """ type="range" """
        str += """ min="${p.cp.range.from}" """
        str += """ max="${p.cp.range.to}" """
    } else {
        if (p.type in [float, double, Float, Double, BigDecimal]){
            str += """ type="number" """
        }else{
            str += """ type="number" """
        }

        if (p.cp.min != null) str += """ min="${p.cp.min}" """
        if (p.cp.max != null) str += """ max="${p.cp.max}" """
    }
    str += " >$rangeExtraInputStr</div> "
    return str;
}


private String renderUrl(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String str = """<div class="input-group input-group-sm">
                    <span class="input-group-addon">url</span>
                    <input 
                    	name="${parentPropName}${p.name}"
                    	ng-model="search.${parentPropName}${p.name}"
                    	st-search="'${parentPropName}${p.name}'"
                    	class="form-control" 
                    	type="url" 
                    	placeholder="{{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}"  """

    str += " ></div> "
    return str
}
private renderSelectType(owningClass, p, parentProperty, type) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String str = """<div class="input-group input-group-sm">
                    <span class="input-group-addon">$type</span>
                    <input 
                    	name="${parentPropName}${p.name}"
                    	ng-model="search.${parentPropName}${p.name}"
                    	st-search="'${parentPropName}${p.name}'"
                    	class="form-control" 
                    	type="text" 
                    	placeholder="{{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}"  """
    
    if (p.cp.matches) str += """ ng-pattern="${p.cp.matches}" """
    str += " ></div> "
    return str
}

private String renderEnum(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
     String str =  """
     <div class="input-group input-group-sm">
          <span class="input-group-addon">enum</span>   
          <input 
          	name="${parentPropName}${p.name}"
          	ng-model="search.${parentPropName}${p.name}"
          	st-search="'${parentPropName}${p.name}'"
          	type="text" 
          	class="form-control" 
            placeholder="{{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}"
            typeahead="b for b in autocompleteService.${p.getTypePropertyName().replace(".", "")}List | filter:\$viewValue" ></div> 
           """
     return str;
}

private String renderManyToOne(owningClass, p, parentProperty) {
    if(!p.referencedDomainClass) return "<!--ManyToOne- no referencedDomainClass -->"
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
     String str =  """<!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.${parentPropName}${p.name}s"
            custom-st-search="${parentPropName}${p.name}s"
            placeholder="{{::'pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}' | translate}}">
              <auto-complete
                      source="autocompleteService.${p.referencedDomainClass?.propertyName}Query(\$query, [$useDisplaynamesStr], true)" ></auto-complete>
            """
     str += """</tags-input></div>"""

     return str;
}
private String renderAutocomplete(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.name + '.' : ''

    String acFunctionName = (p.cp.format)?:p.name

    boolean displayParentPropName = false
    if(parentProperty){
        def embeddedProps = scaffoldingHelper.getProps(parentProperty.component).grep{it.cp?.display != false &&it.cp?.editable != false && it.name!= 'id'}
        displayParentPropName =(embeddedProps.size()==1 || parentProperty.cp.widget == 'autocomplete')

        acFunctionName = (parentProperty?.cp?.format)?:(p.cp?.format)?:p.name
    }
    String translateStr = "pages.${domainClass.shortName}.list.search.placeholder.${parentPropName}${p.name}"
    if(displayParentPropName)translateStr = "pages.${domainClass.shortName}.list.table.embeddedSearch.${parentProperty.name}.title"

    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
    String str =  """<!--ManyToOne-->
    <div class="input-group input-group-sm" style="width:100%">
        <tags-input
                ng-model="search.${parentPropName}${p.name}s"
                custom-st-search="${parentPropName}${p.name}s"
                placeholder="{{::'${translateStr}' | translate}}">
            <auto-complete source="autocompleteService.${acFunctionName}SimpleQuery(\$query, true)" ></auto-complete>
            """
            str += """</tags-input></div>"""

    return str;
}

private String renderManyToMany(owningClass, p, parentProperty) {
     String str =  """<!--ManyToMany-->
      """
     return str;
}

private String renderOneToMany(owningClass, p, parentProperty) {
     String str =  """<!--OneToMany-->
         
            """
     return str;
}

private renderJoinProperty(owningClass, p, parentProperty, joinProperty) {
    return  """//JoinProperty
    //${grails.util.GrailsNameUtils.getShortName(p.getReferencedPropertyType()).toLowerCase()}
                //${grails.util.GrailsNameUtils.getShortName(joinProperty.getReferencedPropertyType()).toLowerCase()}
                //referencedPropertyName:'${p.getReferencedPropertyName()}.id'
                //${p.naturalName}
        """
}

//####################### SEARCH ###################################
%>
<div id="${domainClass.propertyName}_list" ng-init="pageTitle = 'pages.${domainClass.shortName}.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search"  st-table="rowCollection" st-pipe="callServer" >
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.${domainClass.shortName}.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="${domainClass.propertyName}Form" class="form-validation form-horizontal" novalidate>
        <div class="row form-inline">
            <%for (p in props) {%>
                  ${renderFieldSearch(p, domainClass)}
            <%}%>
        </div>
    <%
    def embeddedPropsWithOne = allEmbeddedProps.grep{p->
        scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false && it.name!= 'id'}.size()==1 || p.cp.widget == 'autocomplete'
    }
    def embeddedPropsWithMoreThanOne = allEmbeddedProps.grep{p->
        scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false && it.name!= 'id'}.size()>1 && p.cp.widget != 'autocomplete'
    }
    if(embeddedPropsWithOne){
        println '<div class="embedded-search-heading"><span class="label label-default"></span></div>'
        println '<div class="row form-inline">'
        for (p in embeddedPropsWithOne) {
            def embeddedProps = scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false && it.name!= 'id'}
            if(embeddedProps){
                println renderFieldSearch(embeddedProps.first(), domainClass, p)
            }
        }
        println '</div>'
    }
    for (p in embeddedPropsWithMoreThanOne) {
        def embeddedProps = scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false && it.name!= 'id'}
        if(embeddedProps){
            if(embeddedProps.size()>1){
            %>
        <div class="embedded-search-heading"><span class="label label-default"
                                                   translate="pages.${domainClass.shortName}.list.table.embeddedSearch.${p.name}.title"></span></div>
        <div class="row form-inline">

            <% embeddedProps.each{ep->%>
            ${renderFieldSearch(ep, domainClass, p)}
            <%}%>

        </div>
    <%      }
        }
    }
        %>
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.${domainClass.propertyName}.create">
                <i class="fa fa-plus" translate="pages.${domainClass.shortName}.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive">
	      	<thead>
	      		<tr>
                    <th></th>
	      			<th width='20' st-sort="id" translate="pages.${domainClass.shortName}.list.table.header.id"></th>\
	      		<%for (p in props) {%>
			   		${renderFieldHeader(p, domainClass)}\
				 <%}%>

				</tr>
	      	</thead>
	      	<tbody ng-hide="isLoading">
				<tr ng-repeat="${domainClass.propertyName} in rowCollection">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.${domainClass.propertyName}.view({id:${domainClass.propertyName}.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.${domainClass.propertyName}.edit({id:${domainClass.propertyName}.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="delete${domainClass.shortName}(${domainClass.propertyName})" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(${domainClass.propertyName})" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
					 <td>{{::${domainClass.propertyName}.id}}</td>\
					<%for (p in props) {%>
			   		${renderFieldRow(p, domainClass)}\
				 	<%}%>

				</tr>
			</tbody>
              <tbody ng-show="isLoading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
			<tfoot ng-hide="isLoading">
	          <tr>
	            <td colspan="10" class="text-center" >
	              <div st-pagination="" st-items-by-page="stTable.itemsByPage" st-displayed-pages="15" ></div>
	            </td>
	          </tr>
	        </tfoot>
	      </table>
        </div>
    </div>
</div>