<%
    allProps = scaffoldingHelper.getProps(domainClass)
    props = allProps.grep{it.cp?.display != false && it.cp?.editable != false && it.name!= 'id'}
%>

<%
private String renderEditField(p, owningClass, parentProperty = null){
	def cp = p.cp // TODO: refactor, add directly to subfunctions

    if(cp.widget == 'autocomplete' || parentProperty?.cp?.widget == 'autocomplete'){
        return renderAutocomplete(domainClass, p, cp, parentProperty)
    } else if (p.type == Boolean || p.type == boolean)
	    return renderBoolean(owningClass, p, cp, parentProperty)
	else if (cp && cp.inList) 
		return renderInList(owningClass, p, cp, parentProperty)
	else if (p.type && Number.isAssignableFrom(p.type) || (p.type?.isPrimitive() && p.type != boolean))
	    return renderNumber(owningClass, p, cp, parentProperty)
	else if (p.type == String)
	    return renderString(owningClass, p, cp, parentProperty)
	else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar)
	    return renderDate(owningClass, p, cp, parentProperty)
	else if (p.type == URL)
	    return renderUrl(domainClass, p, cp, parentProperty)
	else if (p.type && p.isEnum())
	    return renderEnum(domainClass, p, cp, parentProperty)
	else if (p.type == TimeZone)
	    return renderSelectType(domainClass, p, cp, "timeZone", parentProperty)
	else if (p.type == Locale)
	    return renderSelectType(domainClass, p, cp, "locale", parentProperty)
	else if (p.type == Currency)
	    return renderSelectType(domainClass, p, cp, "currency", parentProperty)
	else if (p.type==([] as byte[]).class) //TODO: Bug in groovy means i have to do this :(
	    return renderByteArray(domainClass, p, cp, parentProperty)
	else if (p.manyToOne || p.oneToOne)
	    return renderManyToOne(domainClass, p, cp, parentProperty)
	else if ((p.oneToMany && !p.bidirectional) || p.manyToMany)
	    return renderManyToMany(domainClass, p, cp, parentProperty)
	else if (p.oneToMany)
	    return renderOneToMany(domainClass, p, cp, parentProperty)
    else if (p.joinProperty)
		return renderJoinProperty(domainClass, p, cp, p.joinProperty)
    else if (p.type == java.util.Map)
        return renderMap(domainClass, p, cp, parentProperty)
	else
		return "<!-- No type for ${p.name} -->"


 
}

private String renderInList(owningClass, p, cp, parentProperty){
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
	return """
	<select id="${parentPropName}${p.name}" name="${parentPropName}${p.name}"
            ng-model="${domainClass.propertyName}.${parentPropName}${p.name}"
            ng-options="obj as obj for obj in ${(owningClass.constraints."${p.name}".inList).collect{"'$it'"}}">
      <option value=""></option>
    </select>
	"""
}

private String renderString(owningClass, p, cp, parentProperty) {

    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String type="text"
    if(cp.email) type="email"
    String str = """<div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" class="form-control"
                           type="$type"
                           ng-model="${domainClass.propertyName}.${parentPropName}${p.name}" """
    
    if (cp.matches) str += """ ng-pattern="/${cp.matches}/" """
    if (cp.minSize ) str += """ ng-minlength="${cp.minSize}" """
    if (cp.maxSize) str += """ ng-maxlength="${cp.maxSize}" """
      
    if (isRequired(cp)) str += " required"
    str += " /></div> "
    return str
}


private String renderBoolean(owningClass, p, cp, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
	//if boolean is not required then show tri state toggle
	String triToggleStr = isRequired(cp)?"":"tri-toggle"
    String str = """
		<div class="input-group input-group-sm">
		  <ng-toggle $triToggleStr 
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false"
          id="${parentPropName}${p.name}"
          name="${parentPropName}${p.name}"
		  ng-model="${domainClass.propertyName}.${parentPropName}${p.name}"></ng-toggle>
		</div>"""
}

private String renderByteArray(owningClass, p, cp, parentProperty) {

    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
      return """<div class="input-group input-group-sm">
                    <span class="input-group-addon">file</span>
                    <input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" class="form-control"
                           type="file"
                           ng-model="${domainClass.propertyName}.${parentPropName}${p.name}" />
                </div>"""
}



private String renderDate(owningClass, p, cp, parentProperty) {

    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String parentPropNameFunc = (parentProperty?.component) ? parentProperty.name : ''
     String str =  """
     <div class="input-group input-group-sm">
     <input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" type="text" class="form-control"
            ng-model="${domainClass.propertyName}.${parentPropName}${p.name}"
	     datepicker-popup
	     is-open="${owningClass.propertyName}.${parentPropNameFunc}_${p.name}Open"
	     ng-click="${owningClass.propertyName}.${parentPropNameFunc}_${p.name}Open = true"
      """

      if (isRequired(cp)) str += " required"
      str += """
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
      """
      return str;
}



private String renderNumber(owningClass, p, cp, parentProperty) {

    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
	String str = """<div class="input-group input-group-sm">
	      				<span class="input-group-addon">nr</span>
	      				<input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" class="form-control"
                               ng-model="${domainClass.propertyName}.${parentPropName}${p.name}" """
	      				
	String rangeExtraInputStr = ""
	if (cp.range) {
		rangeExtraInputStr = """<span class="input-group-addon">{{::${owningClass.propertyName}.${parentPropName}${p
    .name}}}</span>"""
        str += """ type="range" """
        str += """ min="${cp.range.from}" """
        str += """ max="${cp.range.to}" """
	}else {
		if (p.type in [float, double, Float, Double, BigDecimal]){
			str += """ type="number" """
		}else{
			str += """ type="number" """
		}

		if (cp.min != null) str += """ min="${cp.min}" """
		if (cp.max != null) str += """ max="${cp.max}" """
	}
	if (isRequired(cp)) str += " required"
	str += " />$rangeExtraInputStr</div> "
	return str;
}


private String renderUrl(owningClass, p, cp, parentProperty) {

String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
	String str = """<div class="input-group input-group-sm">
      				<span class="input-group-addon">url</span>
      				<input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" class="form-control"
                           type="url"
                           ng-model="${domainClass.propertyName}.${parentPropName}${p.name}" """
	
    if (isRequired(cp)) str += " required"
	str += " /></div> "
	return str
}
private renderSelectType(owningClass, p, cp, type, parentProperty) {

String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
	String str = """<div class="input-group input-group-sm">
      				<span class="input-group-addon">$type</span>
      				<input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" class="form-control"
                           type="text"
                           ng-model="${domainClass.propertyName}.${parentPropName}${p.name}" """
	
    if (cp.matches) str += """ ng-pattern="${cp.matches}" """
    if (isRequired(cp)) str += " required"
	str += " /></div> "
	return str
}

private String renderEnum(owningClass, p, cp, parentProperty) {
String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
     String str =  """
     <div class="input-group input-group-sm">
          <span class="input-group-addon">enum</span>   
          <input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" type="text" class="form-control"
                 ng-model="${domainClass.propertyName}.${parentPropName}${p.name}"
                 typeahead="b for b in autocompleteService.${p.getTypePropertyName().replace(".", "")}List  | filter:\$viewValue"  """
     if (isRequired(cp)) str += " required"
     str += """ /></div> """
     return str;
}

private String renderManyToOne(owningClass, p, cp, parentProperty) {

    if(!p.referencedDomainClass) return "<!--ManyToOne- no referencedDomainClass -->"
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String parentIdName = (parentProperty?.component) ? parentProperty.name + '_' : ''
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
    
    String templStr="""
     <script type="text/ng-template" id="${parentIdName}${p.name}AutocompleteTemplate.html"><a>"""
     useDisplaynames.each{key, value->
        templStr += """<span bind-html-unsafe="match.model.$key | typeaheadHighlight:query"></span> """
     } 
     templStr += """</a></script>"""
     String str =  """<!--ManyToOne-->
     <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>  
          <input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" type="text" class="form-control"
          ng-model="${domainClass.propertyName}.${parentPropName}${p.name}"
          typeahead-template-url="${parentIdName}${p.name}AutocompleteTemplate.html"
          typeahead-editable="false" 
          typeahead="b for b in autocompleteService.${p.referencedDomainClass.propertyName}Query(\$viewValue, [$useDisplaynamesStr])" 
         
          typeahead-input-formatter="autocompleteService.${p.referencedDomainClass.propertyName}FormatLabel(\$model, [$useDisplaynamesStr])"
      """
      
     if (isRequired(cp)) str += " required"
     str += """ /></div> """
     str +=templStr;
     return str;
}



private String renderOneToMany(owningClass, p, cp, parentProperty) {
    if(!p.referencedDomainClass) return "<!--OneToMany- no referencedDomainClass -->"
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
    
     String str =  """<!--OneToMany-->
          <tags-input
                  name="${parentPropName}${p.name}"
                  ng-model="${domainClass.propertyName}.${parentPropName}${p.name}">
              <auto-complete source="autocompleteService.${p.referencedDomainClass.propertyName}Query(\$query, [$useDisplaynamesStr], true)" ></auto-complete>
            """
     if (isRequired(cp)) str += " minTags='1'"
     str += """ </tags-input>"""
     return str;
}

private String renderManyToMany(owningClass, p, cp, parentProperty) {
    if(!p.referencedDomainClass) return "<!--ManyToMany- no referencedDomainClass -->"
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
    
     String str =  """<!--ManyToMany-->
          <tags-input  name="${parentPropName}${p.name}"
                        ng-model="${domainClass.propertyName}.${parentPropName}${p.name}">
              <auto-complete source="autocompleteService.${p.referencedDomainClass.propertyName}Query(\$query, [$useDisplaynamesStr], true)" ></auto-complete>
            """
     if (isRequired(cp)) str += " minTags='1'"
     str += """ </tags-input>"""
     return str;
}

private String renderAutocomplete(owningClass, p, cp, parentProperty) {

    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String parentIdName = (parentProperty?.component) ? parentProperty.name + '_' : ''
    String acFunctionName = (cp.format)?:p.name
    if(parentProperty){
        acFunctionName = (parentProperty?.cp?.format)?:parentProperty.name
    }

    String templStr="""
    <script type="text/ng-template" id="${parentIdName}${p.name}AutocompleteTemplate.html"><a>
        <span bind-html-unsafe="match.model.item.label | typeaheadHighlight:query"></span>
    </a></script>"""
    String str =  """<!--Autocomplete-->
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
            <input id="${parentPropName}${p.name}" name="${parentPropName}${p.name}" type="text" class="form-control"
                   ng-model="${domainClass.propertyName}.${parentPropName}${p.name}"
                   typeahead-editable="false"
                   typeahead-template-url="${parentIdName}${p.name}AutocompleteTemplate.html"
                   typeahead="b for b in autocompleteService.${acFunctionName}SimpleQuery(\$viewValue)"
                   typeahead-input-formatter="autocompleteService.${acFunctionName}SimpleFormatLabel(\$model)"
        """
    if(parentProperty){
        if (isRequired(parentProperty.cp)) str += " required"
    }else{
        if (isRequired(p.cp)) str += " required"
    }
    str += """/></div> """

    str +=templStr;
    return str;
}


private renderJoinProperty(owningClass, p, cp, joinProperty) {
    return  """//JoinProperty
    //${grails.util.GrailsNameUtils.getShortName(p.getReferencedPropertyType()).toLowerCase()}
                //${grails.util.GrailsNameUtils.getShortName(joinProperty.getReferencedPropertyType()).toLowerCase()}
                //referencedPropertyName:'${p.getReferencedPropertyName()}.id'
                //referencedPropertyName:'${joinProperty.getReferencedPropertyName()}.id'
                //${p.naturalName}
        """
}

private String renderMap(owningClass, p, cp, parentProperty) {

    String parentPropName = (parentProperty?.component) ? parentProperty?.name + '.' : ''
    String str = """
        <div class="jsonView">
            <json child="${domainClass.propertyName}.${parentPropName}${p.name}" default-collapsed="false" type="object"></json>
        </div> """
    return str
}



private boolean isRequired(cp) {
    return !isOptional(cp)
}

private boolean isOptional(cp) {
    if (!cp) {
        return false
    } else {
        return (cp.nullable || (cp.propertyType == String && cp.blank))
    }
}
%>
<%
private renderFieldRow(p, owningClass, parentProperty = null, displayParentPropName = false) {
    String parentPropName = (parentProperty) ? parentProperty?.name + '.' : ''
    String translateStr = "pages.${domainClass.shortName}.edit.form.field.${parentPropName}${p.name}"

    if(displayParentPropName)translateStr = "pages.${domainClass.shortName}.edit.form.field.${parentProperty.name}.title"
	return """
	<div class="form-group">
		<label class="col-sm-2 control-label" for="${parentPropName}${p.name}"
               translate="${translateStr}"></label>
		<div class="col-sm-10">
            ${renderEditField(p, owningClass, parentProperty)}
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	"""
}%>
<div id="${domainClass.propertyName}_form"
     ng-init="pageTitle = (isEditForm)?'pages.${domainClass.shortName}.edit.title':'pages.${domainClass.shortName}.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="wrapper-md bg-white-only ng-scope">
    <form name="${domainClass.propertyName}Form" class="form-validation form-horizontal" novalidate>
        <input name="version" type="hidden" ng-model="${domainClass.propertyName}.version" />
<%for (p in props) {
    if(p.embedded){
        def embeddedProps = scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false &&it.cp?.editable != false && it.name!= 'id'}
        if(embeddedProps){
            if(embeddedProps.size()==1 || p.cp.widget == 'autocomplete'){
                println renderFieldRow(embeddedProps.first(), domainClass, p, true)
            }else{
      %>
        <accordion close-others="false" id="${p.name}Accordion">
            <accordion-group
                    heading="{{::'pages.${domainClass.shortName}.edit.form.field.${p.name}.title' | translate}}"
                    is-open="isSearchOpen">
                <div class="row">
                    <%embeddedProps.each{ep->
                        println renderFieldRow(ep, domainClass, p)
                    }%>
                </div>
            </accordion-group>
        </accordion>
<%          }
        }
    }else{
        println renderFieldRow(p, domainClass)
    }
}%>

        <div class="form-group">
            <div class="form-action pull-right">
                <button id="${domainClass.propertyName}SubmitBtn"
                    class="btn btn-success"
                    type='submit'
                    ng-disabled="${domainClass.propertyName}Form.\$invalid"
                    translate="pages.${domainClass.shortName}.edit.form.submit"
                    mx-show-loading ng-click="submit(${domainClass.propertyName}Form)"></button>
                <a class="btn btn-default" ng-click="back()" translate="pages.${domainClass.shortName}.edit.form.cancel" mx-show-loading></a>
            </div>
            <div class="clearfix"/>
        </div>
    </form>
</div>