<%
    allProps = scaffoldingHelper.getProps(domainClass)
    props = allProps.grep{it.cp?.display != false}
import grails.plugin.scaffold.angular.DomainHelper
%>
<%
private String renderFieldRow(p, owningClass, parentProperty = null){
    if(p.cp.widget == 'autocomplete' || parentProperty?.cp?.widget == 'autocomplete'){
        return renderAutocomplete(domainClass, p, parentProperty)
    }else if (p.type == Boolean || p.type == boolean)
        return renderBoolean(owningClass, p, parentProperty)
    else if (p.type && Number.isAssignableFrom(p.type) || (p.type?.isPrimitive() && p.type != boolean))
        return renderString(owningClass, p, parentProperty)
    else if (p.type == String)
        return renderString(owningClass, p, parentProperty)
    else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar)
        return renderDate(owningClass, p, parentProperty)
    else if (p.type == URL)
        return renderString(owningClass, p, parentProperty)
    else if (p.type && p.isEnum())
        return renderEnum(owningClass, p, parentProperty)
    else if (p.type == TimeZone)
        return renderSelectType(owningClass, p, parentProperty, "timeZone")
    else if (p.type == Locale)
        return renderSelectType(owningClass, p, parentProperty, "locale")
    else if (p.type == Currency)
        return renderSelectType(owningClass, p, parentProperty, "currency")
    else if (p.type==([] as byte[]).class) //TODO: Bug in groovy means i have to do this :(
        return renderByteArray(owningClass, p, parentProperty)
    else if (p.manyToOne || p.oneToOne)
        return renderManyToOne(owningClass, p, parentProperty)
    else if (p.joinProperty){
        return renderJoinProperty(domainClass, p, parentProperty, p.joinProperty)
    }else if ((p.oneToMany && !p.bidirectional) || p.manyToMany) {
        return renderManyToMany(domainClass, p, parentProperty)
    }else if (p.oneToMany)
        return renderOneToMany(domainClass, p, parentProperty)
    else if (p.type == java.util.Map)
        return renderMap(domainClass, p, parentProperty)
    else
        return "<!-- No type for ${p.name} type ${p.type}-->"

}


private String renderString(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    return """
            <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
            <div class="read-field" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}" flex="30"></div>
    """
}

private String renderDate(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    return """
        <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
        <div class="read-field" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name} | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    """
}

private String renderBoolean(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
   return """
            <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
            <div class="read-field" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}" flex="30"></div>
    """
}

private String renderByteArray(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
   return """
            <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
            <div class="read-field" ng-model="${owningClass.propertyName}.${parentPropName}${p.name}" byte-downloader flex="30"></div>
    """
}


private renderSelectType(owningClass, p, parentProperty, type) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
     return """
            <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
            <div class="read-field" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}" flex="30"></div>
    """
}

private String renderEnum(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
     return """
            <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
            <div class="read-field" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}" flex="30"></div>
    """
}

private String renderManyToOne(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ["id":null]
    
    String str = """<!--ManyToOne-->

            <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
            <div class="read-field">
                <a  ui-sref="app.${domainClass.propertyName}.view.${p.referencedDomainClass.propertyName}Modal({modalId:${owningClass.propertyName}.${parentPropName}${p.name}.id})" flex="30">
                """

    useDisplaynames.each{ key, value->
        str += """<span ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}.${key}"></span> """
    }
    str += """</a></div>"""
    
    return str
}

private String renderManyToMany(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ["id":null]

    String str = """<!--ManyToMany-->
        <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
        <div class="read-field" flex="30">
            <div ng-repeat="item in ${owningClass.propertyName}.${parentPropName}${p.name}">
"""
    useDisplaynames.each{ key, value->
    str += """<span ng-bind="item.${key}"></span> """
    }
    str += """</div></div>"""

    return str
}

private String renderOneToMany(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    return """<!--OneToMany-->
            <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
            <div class="read-field" ng-bind="${owningClass.propertyName}.${parentPropName}${p.name}" flex="30"></div>
    """
}

private renderJoinProperty(owningClass, p, parentProperty, joinProperty) {
    return  """//JoinProperty
    //${grails.util.GrailsNameUtils.getShortName(p.getReferencedPropertyType()).toLowerCase()}
                //${grails.util.GrailsNameUtils.getShortName(joinProperty.getReferencedPropertyType()).toLowerCase()}
                //referencedPropertyName:'${p.getReferencedPropertyName()}.id'
                //${p.naturalName}
        """
}


private String renderMap(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''

    String str = """<!--Map-->

        <label translate="pages.${owningClass.propertyName}.defaultFieldName.${parentPropName}${p.name}" flex="20"></label>
        <div class="read-field" class="jsonView jsonRead" flex="30">
            <json child="${domainClass.propertyName}.${parentPropName}${p.name}" default-collapsed="false" type="object"></json>
        </div>
    """

    return str
}
private String renderAutocomplete(owningClass, p,  parentProperty) {
    String propName = DomainHelper.getPropertyFullName(p, parentProperty, '.', true)
    String translateName = DomainHelper.getPropertyFullName(p, parentProperty, '.', false)
    String acFunctionName = (p.cp.format)?:p.name

    boolean displayParentPropName = false
    if(parentProperty){
        def embeddedProps = scaffoldingHelper.getProps(parentProperty.component).grep{it.cp?.display != false &&it.cp?.editable != false && it.name!= 'id'}
        displayParentPropName =(embeddedProps.size()==1)

        acFunctionName = (parentProperty?.cp?.format)?:(p.cp?.format)?:p.name
    }

    String translateStr = "pages.${owningClass.propertyName}.defaultFieldName.${translateName}"
    if(displayParentPropName)translateStr = "pages.${domainClass.propertyName}.defaultFieldName.${parentProperty.name}.title"

    return """<!--Autocomplete-->

        <label translate="${translateStr}" flex="20"></label>
        <div class="read-field" ng-bind="${owningClass.propertyName}.$propName && autocompleteService.${acFunctionName}SimpleFormatLabel(${owningClass.propertyName}.$propName)"
             flex="30"
                ></div>
"""
}
%>

<div ng-if="!isModal" id="${domainClass.propertyName}_view" ng-init="pageTitle = 'pages.${domainClass.propertyName}.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<%for (p in props) {
        if(p.embedded){
            def embeddedProps = scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false && it.name!= 'id'}
            if(embeddedProps){
                if(embeddedProps.size()==1 || p.cp.widget == 'autocomplete'){
                    println '<div class="input-container" layout layout-sm="column">'
                    println renderFieldRow(embeddedProps.first(), domainClass, p)
                    println '</div>'
                }else{
                    %>

                    <div class="looks-like-toolbar" ng-init="${p.name}Open = true" ng-click="${p.name}Open = !${p.name}Open" id="${p.name}Embedded">
                        <div class="md-toolbar-tools">
                           <h2 translate='pages.${domainClass.propertyName}.defaultFieldName.${p.name}.title'></h2>
                            <span flex></span>
                            <md-icon md-font-set="material-icons" class="md-primary" ng-if="!${domainClass.propertyName}Open">expand_more</md-icon>
                            <md-icon md-font-set="material-icons" class="md-primary" ng-if="${domainClass.propertyName}Open">expand_less</md-icon>
                        </div>
                    </div>
                    <md-content ng-if="${domainClass.propertyName}Open" layout-padding class="embedded-content">
                    <%
                        embeddedProps.each{ep->
                            println '<div class="input-container" layout layout-sm="column">'
                            println renderFieldRow(ep, domainClass, p)
                            println '</div>'
                        }
                    %>
                    </md-content>

                    <%
                }
            }
        }else{
            println '<div class="input-container" layout layout-sm="column">'
            println renderFieldRow(p, domainClass)
            println '</div>'
        }
}%>

    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.${domainClass.propertyName}.view.edit({id:${domainClass.propertyName}.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="delete${domainClass.shortName}(${domainClass.propertyName})"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>

<%
    relationsProps = scaffoldingHelper.findRelationsProps(domainClass, domainClasses as List)
    if(relationsProps){
    %>
<div ng-if="!isModal">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
<%
}
relationsProps.each{property, domainCl->
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(domainCl, property)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
%>
        <md-tab ui-sref="app.${domainClass.propertyName}.view.${domainCl.propertyName}({relationName:'${property.name}s'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.${domainCl.propertyName}.view.lists"
                        translate-value-isval="{{::'pages.${property.getDomainClass().propertyName}.defaultFieldName.${property.name}' | translate }}"
                        translate-value-inval="{{::'pages.${domainCl.propertyName}.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>
<%}
if(relationsProps){
        %>
    </md-tabs>

    <div ui-view="tabs" ><div class="content-body">{{::'tabs.selecttab' | translate}}</div></div>
    </md-content>
</div>

    <%} %>

