<% 
    import grails.plugin.scaffold.core.ScaffoldingHelper
    ScaffoldingHelper sh = new ScaffoldingHelper(domainClass, pluginManager, comparator, getClass().classLoader)
    allProps = sh.getProps()
    props = allProps.findAll{p->!p.embedded} 

%>
<%
private String renderEditField(p, owningClass){
	boolean hasHibernate = pluginManager?.hasGrailsPlugin('hibernate') || pluginManager?.hasGrailsPlugin('hibernate4')
	boolean required = false
	if (hasHibernate) {
		cp = owningClass.constrainedProperties[p.name]?:[:]
		required = (cp ? !(cp.propertyType in [boolean, Boolean]) && !cp.nullable : false)
	}
	// Find if property is actually joinTable property. e.g. UserRole
    def joinProperty 
    if(p.referencedDomainClass)  {
        def persistentProperties = p.referencedDomainClass.persistentProperties
        joinProperty = persistentProperties.find{ 
            it != p && 
            persistentProperties.size() == 2 && it.referencedDomainClass 
        }
    }
	
	if (p.type == Boolean || p.type == boolean)
	    return renderBoolean(owningClass, p, cp)
	else if (cp && cp.inList) 
		return renderInList(owningClass, p, cp)
	else if (p.type && Number.isAssignableFrom(p.type) || (p.type?.isPrimitive() && p.type != boolean))
	    return renderNumber(owningClass, p, cp)
	else if (p.type == String)
	    return renderString(owningClass, p, cp)
	else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar)
	    return renderDate(owningClass, p, cp)
	else if (p.type == URL)
	    return renderUrl(domainClass, p, cp)
	else if (p.type && p.isEnum())
	    return renderEnum(domainClass, p, cp)
	else if (p.type == TimeZone)
	    return renderSelectType(domainClass, p, cp, "timeZone")
	else if (p.type == Locale)
	    return renderSelectType(domainClass, p, cp, "locale")
	else if (p.type == Currency)
	    return renderSelectType(domainClass, p, cp, "currency")
	else if (p.type==([] as byte[]).class) //TODO: Bug in groovy means i have to do this :(
	    return renderByteArray(domainClass, p, cp)
	else if (p.manyToOne || p.oneToOne)
	    return renderManyToOne(domainClass, p, cp) 
	
	else if ((p.oneToMany && !p.bidirectional) || p.manyToMany) {
	    return renderManyToMany(domainClass, p, cp)
	}
	else if (p.oneToMany)
	    return renderOneToMany(domainClass, p, cp)
    else if (joinProperty){
		return renderJoinProperty(domainClass, p, cp, joinProperty)
	}
	else
		return "<!-- No type for ${p.name} -->"
		

 
}

private String renderInList(owningClass, p, cp){
	return """
	<select name="${p.name}" ng-model="${owningClass.propertyName}.${p.name}" ng-options="obj as obj for obj in ${(domainClass.constraints."${p.name}".inList).collect{"'$it'"}}">
      <option value=""></option>
    </select>
	"""
}

private String renderString(owningClass, p, cp) {

    String type="text"
    if(cp.email) type="email"
    String str = """<div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="${p.name}" class="form-control" type="$type" ng-model="${owningClass.propertyName}.${p.name}" """
    
    if (cp.matches) str += """ ng-pattern="/${cp.matches}/" """
    if (cp.minSize ) str += """ ng-minlength="${cp.minSize}" """
    if (cp.maxSize) str += """ ng-maxlength="${cp.maxSize}" """
      
    if (isRequired(cp)) str += " required"
    str += " ></div> "
    return str
}


private String renderBoolean(owningClass, p, cp) {
	//if boolean is not required then show tri state toggle
	String triToggleStr = isRequired(cp)?"":"tri-toggle"
    String str = """
		<div class="input-group input-group-sm">
		  <ng-toggle $triToggleStr 
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false" 
		  ng-model="${owningClass.propertyName}.${p.name}"></ng-toggle> 
		</div>"""
}

private String renderByteArray(owningClass, p, cp) {
      return """<div class="input-group input-group-sm">
                    <span class="input-group-addon">file</span> 
                    <input name="${p.name}" class="form-control" type="file"  ng-model="${owningClass.propertyName}.${p.name}" >
                </div>"""
}



private String renderDate(owningClass, p, cp) {
     String str =  """
     <div class="input-group input-group-sm">
     <input name="${p.name}" type="text" class="form-control" ng-model="${owningClass.propertyName}.${p.name}" 
	     datepicker-popup
	     is-open="${owningClass.propertyName}.${p.name}Open" 
	     ng-click="${owningClass.propertyName}.${p.name}Open = true"
      """

      if (isRequired(cp)) str += " required"
      str += """
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
      """
      return str;
}



private String renderNumber(owningClass, p, cp) {
	String str = """<div class="input-group input-group-sm">
	      				<span class="input-group-addon">nr</span>
	      				<input name="${p.name}" class="form-control"  ng-model="${owningClass.propertyName}.${p.name}" """
	      				
	String rangeExtraInputStr = ""
	if (cp.range) {
		rangeExtraInputStr = """<span class="input-group-addon">{{${owningClass.propertyName}.${p.name}}}</span>"""
        str += """ type="range" """
        str += """ min="${cp.range.from}" """
        str += """ max="${cp.range.to}" """
	}else {
		if (p.type in [float, double, Float, Double, BigDecimal]){
			str += """ type="number" """
		}else{
			str += """ type="number" """
		}

		if (cp.min != null) str += """ min="${cp.min}" """
		if (cp.max != null) str += """ max="${cp.max}" """
	}
	if (isRequired(cp)) str += " required"
	str += " >$rangeExtraInputStr</div> "
	return str;
}


private String renderUrl(owningClass, p, cp) {
	String str = """<div class="input-group input-group-sm">
      				<span class="input-group-addon">url</span>
      				<input name="${p.name}" class="form-control" type="url" ng-model="${owningClass.propertyName}.${p.name}" """
	
    if (isRequired(cp)) str += " required"
	str += " ></div> "
	return str
}
private renderSelectType(owningClass, p, cp, type) {
	String str = """<div class="input-group input-group-sm">
      				<span class="input-group-addon">$type</span>
      				<input name="${p.name}" class="form-control" type="text" ng-model="${owningClass.propertyName}.${p.name}" """
	
    if (cp.matches) str += """ ng-pattern="${cp.matches}" """
    if (isRequired(cp)) str += " required"
	str += " ></div> "
	return str
}

private String renderEnum(owningClass, p, cp) {
     String str =  """
     <div class="input-group input-group-sm">
          <span class="input-group-addon">enum</span>   
          <input name="${p.name}" type="text" class="form-control" ng-model="${owningClass.propertyName}.${p.name}"  typeahead="b for b in autocompleteService.${p.getTypePropertyName().replace(".", "")}List  | filter:\$viewValue"  """
     if (isRequired(cp)) str += " required"
     str += """></div> """
     return str;
}

private String renderManyToOne(owningClass, p, cp) {
    Map useDisplaynames = ScaffoldingHelper.getDomainClassDisplayNames(owningClass, config, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
    
    String templStr="""
     <script type="text/ng-template" id="${p.name}AutocompleteTemplate.html"><a>"""
     useDisplaynames.each{key, value->
        templStr += """<span bind-html-unsafe="match.model.$key | typeaheadHighlight:query"></span> """
     } 
     templStr += """</a></script>"""
     String str =  """<!--ManyToOne-->
     <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>  
          <input name="${p.name}" type="text" class="form-control" 
          ng-model="${owningClass.propertyName}.${p.name}"   
          typeahead-template-url="${p.name}AutocompleteTemplate.html" 
          typeahead-editable="false" 
          typeahead="b for b in autocompleteService.${p.referencedDomainClass.propertyName}Query(\$viewValue, [$useDisplaynamesStr])" 
         
          typeahead-input-formatter="autocompleteService.${p.referencedDomainClass.propertyName}FormatLabel(\$model, [$useDisplaynamesStr])"
      """
      
     if (isRequired(cp)) str += " required"
     str += """></div> """
     str +=templStr;
     return str;
}



private String renderOneToMany(owningClass, p, cp) {
    Map useDisplaynames = ScaffoldingHelper.getDomainClassDisplayNames(owningClass, config, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
    
     String str =  """<!--OneToMany-->
          <tags-input ng-model="${owningClass.propertyName}.${p.name}">
              <auto-complete source="autocompleteService.${p.referencedDomainClass.propertyName}Query(\$viewValue, [$useDisplaynamesStr], true)" ></auto-complete>
            """
     if (isRequired(cp)) str += " minTags='1'"
     str += """ </tags-input>"""
     return str;
}

private String renderManyToMany(owningClass, p, cp) {
      Map useDisplaynames = ScaffoldingHelper.getDomainClassDisplayNames(owningClass, config, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
    
     String str =  """<!--ManyToMany-->
          <tags-input ng-model="${owningClass.propertyName}.${p.name}">
              <auto-complete source="autocompleteService.${p.referencedDomainClass.propertyName}Query(\$viewValue, [$useDisplaynamesStr], true)" ></auto-complete>
            """
     if (isRequired(cp)) str += " minTags='1'"
     str += """ </tags-input>"""
     return str;
}

private renderJoinProperty(owningClass, p, cp, joinProperty) {
    return  """//JoinProperty
    //${grails.util.GrailsNameUtils.getShortName(p.getReferencedPropertyType()).toLowerCase()}
                //${grails.util.GrailsNameUtils.getShortName(joinProperty.getReferencedPropertyType()).toLowerCase()}
                //referencedPropertyName:'${p.getReferencedPropertyName()}.id'
                //referencedPropertyName:'${joinProperty.getReferencedPropertyName()}.id'
                //${p.naturalName}
        """
}


private boolean isRequired(cp) {
    return !isOptional(cp)
}

private boolean isOptional(cp) {
    if (!cp) {
        return false
    } else {
        return (cp.nullable || (cp.propertyType == String && cp.blank))
    }
}
%>
<%
private renderFieldRow(p, owningClass) {
	return """
	<div class="form-group">
		<label class="col-sm-2 control-label" for="${p.name}" translate="pages.${domainClass.shortName}.edit.form.field.${p.name}"></label>
		<div class="col-sm-10">
            ${renderEditField(p, owningClass)}                     
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	"""
}%>

<div ng-init="pageTitle = (isEditForm)?'pages.${domainClass.shortName}.edit.title':'pages.${domainClass.shortName}.create.title'" data-ng-include=" 'components/blocks/page_heading.html' "></div>
<div class="wrapper-md ng-scope">
    <div class="row">
        <div class="col-sm-6">
            <form name="${domainClass.propertyName}Form" class="form-validation form-horizontal"  
            	novalidate>
                <div class="panel panel-default">
                	<div class="panel-heading">
                      <span class="h4" translate="pages.${domainClass.shortName}.edit.form.title"></span>
                    </div>
                    <div class="panel-body">
                        <input name="version" type="hidden" ng-model="${domainClass.propertyName}.version" />
                        <%for (p in props) {%>
                ${renderFieldRow(p, domainClass)}\
                <%}%>
                	</div>
                    <footer class="panel-footer text-right bg-light lter">
                      	<button id="${domainClass.propertyName}SubmitBtn"
                      		class="btn btn-success" 
	                      	type='submit' 
	                      	ng-disabled="${domainClass.propertyName}Form.\$invalid" 
	                      	translate="pages.${domainClass.shortName}.edit.form.submit" 
	                      	mx-show-loading ng-click="submit(${domainClass.propertyName}Form)"></button> 
                		<a class="btn btn-default" ng-click="back()" translate="pages.${domainClass.shortName}.edit.form.cancel" mx-show-loading></a> 
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>