<%
    import grails.plugin.scaffold.angular.DomainHelper
    allProps = scaffoldingHelper.getProps(domainClass)
    props = allProps.findAll{p->!p.embedded && !p.oneToMany && !p.manyToMany}.grep{it.cp?.display != false}
    allEmbeddedProps = allProps.findAll{p->p.embedded}.grep{it.cp?.display != false}

private renderFieldRow(p, owningClass) {
    String str = """
        <td data-title="'pages.${domainClass.propertyName}.defaultFieldName.${p.name}' | translate" sortable="'${p.name}'">
"""
    if (p.type && p.isEnum()){
        str += "{{::${owningClass.propertyName}.${p.name}}}"
    }else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar){
        str += "{{::${owningClass.propertyName}.${p.name} | date:'yyyy-MM-dd HH:mm'}}"
    }else if (p.manyToOne || p.oneToOne){
        Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
        if(!useDisplaynames) useDisplaynames = ["id":null]

        useDisplaynames.each{ key, value->
            str += """{{::${owningClass.propertyName}.${p.name}.${key}}} """
        }
    }else{
        str += "{{::${owningClass.propertyName}.${p.name}}}"
    }
    str +="</td>"
    return str
}

private renderFieldHeader(p, owningClass) {
	return """<th class="sortable"
                  ng-click="tableParams.sorting({'${p.name}' : tableParams.isSortBy('${p.name}', 'asc') ? 'desc' : 'asc'})"
                  ng-class="{
                    'sort-asc': tableParams.isSortBy('${p.name}', 'asc'),
                    'sort-desc': tableParams.isSortBy('${p.name}', 'desc')
                  }"
                ><div translate="pages.${domainClass.propertyName}.defaultFieldName.${p.name}"
                      ng-class="{'sort-indicator': params.settings().sortingIndicator == 'span'}"
                    ></div></th>"""
}


//####################### SEARCH ###################################


private String renderFieldSearch(p, owningClass, parentProperty = null){

    String str = """
                        <md-input-container flex>
                    """

    if(p.cp.widget == 'autocomplete' || parentProperty?.cp?.widget == 'autocomplete'){
        str += renderAutocomplete(owningClass, p, parentProperty)
    }else if (p.type == Boolean || p.type == boolean)
        str += renderBoolean(owningClass, p, parentProperty)
    else if (p.type && Number.isAssignableFrom(p.type) || (p.type?.isPrimitive() && p.type != boolean))
        str += renderNumber(owningClass, p, parentProperty)
    else if (p.type == String)
        str += renderString(owningClass, p, parentProperty)
    else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar)
        str += renderDate(owningClass, p, parentProperty)
    else if (p.type == URL)
        str += renderUrl(domainClass, p, parentProperty)
    else if (p.type && p.isEnum())
        str += renderEnum(domainClass, p, parentProperty)
    else if (p.type == TimeZone)
        str += renderSelectType(domainClass, p, parentProperty, "timeZone")
    else if (p.type == Locale)
        str += renderSelectType(domainClass, p, parentProperty, "locale")
    else if (p.type == Currency)
        str += renderSelectType(domainClass, p, parentProperty, "currency")
    else if (p.type==([] as byte[]).class) //TODO: Bug in groovy means i have to do this :(
        str += renderByteArray(domainClass, p, parentProperty)
    else if (p.manyToOne || p.oneToOne){
        str += renderManyToOne(domainClass, p, parentProperty)
    }else if (p.joinProperty){
        str += renderJoinProperty(domainClass, p, parentProperty, p.joinProperty)
    }
    else if ((p.oneToMany && !p.bidirectional) || p.manyToMany) {

        str += renderManyToMany(domainClass, p, parentProperty)
    }
    else if (p.oneToMany)
        str += renderOneToMany(domainClass, p, parentProperty)
    else
        return "<!-- No type for ${p.name} -->"
        
    str += "</md-input-container>"
    return str
 
}

private String renderString(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.name + '.' : ''
    String str = """<label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
                    <input
                    	name="${parentPropName}${p.name}"
                    	aria-label="${parentPropName}${p.name}"
                   		ng-model="search.${parentPropName}${p.name}"
                   		type="text"
                """

    if (p.cp.matches) str += """ ng-pattern="/${p.cp.matches}/" """
    str += " /> "
    return str
}


private String renderBoolean(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''

      return """
	    <label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
        <md-select
                aria-label="${parentPropName}${p.name}"
                ng-model="search.${parentPropName}${p.name}"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        """

}

private String renderByteArray(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
      return """<label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
                    <input 
                    	name="${parentPropName}${p.name}"
                    	aria-label="${parentPropName}${p.name}"
                    	ng-model="search.${parentPropName}${p.name}"
                    	>
              """
}



private String renderDate(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String parentPropNameFunc = (parentProperty?.component) ? parentProperty.name : ''
     String str =  """
    <label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
     <input 
     	name="${parentPropName}${p.name}"
     	aria-label="${parentPropName}${p.name}"
     	ng-model="search.${parentPropName}${p.name}"
     	type="text" 
        bs-datepicker
        data-model-date-format="yyyy-MM-dd'T'HH:mm:ssZ"
        data-date-type='string'
      """
      
      str += """
      />
      """
      return str;
}



private String renderNumber(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String str = """<label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
                    <input
                        	name="${parentPropName}${p.name}"
                        	aria-label="${parentPropName}${p.name}"
                        	ng-model="search.${parentPropName}${p.name}"
                        	 """
                        

    if (p.cp.range) {
        str += """ type="range" """
        str += """ min="${p.cp.range.from}" """
        str += """ max="${p.cp.range.to}" """
    } else {
        if (p.type in [float, double, Float, Double, BigDecimal]){
            str += """ type="number" """
        }else{
            str += """ type="number" """
        }

        if (p.cp.min != null) str += """ min="${p.cp.min}" """
        if (p.cp.max != null) str += """ max="${p.cp.max}" """
    }
    str += " /> "
    return str;
}


private String renderUrl(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String str = """<label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
                    <input 
                    	name="${parentPropName}${p.name}"
                    	ng-model="search.${parentPropName}${p.name}"
                    	type="url" 
                """

    str += " /> "
    return str
}
private renderSelectType(owningClass, p, parentProperty, type) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String str = """
                    <label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
                    <input 
                    	name="${parentPropName}${p.name}"
                    	ng-model="search.${parentPropName}${p.name}"
                    	type="text" 
                """
    
    if (p.cp.matches) str += """ ng-pattern="${p.cp.matches}" """
    str += " /> "
    return str
}

private String renderEnum(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty.name + '.' : ''
    String fnName = p.getTypePropertyName().replace(".", "")
    String str =  """
    <label translate="pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"></label>
    <md-select
            aria-label="${parentPropName}${p.name}"
            ng-model="search.${domainClass.propertyName}.${parentPropName}${p.name}"
        >
        <md-option ng-repeat="item in appCtrl.autocompleteService.${fnName}List" >{{item}}</md-option>
    </md-select>
    """
    return str;
}


private String renderManyToOne(owningClass, p, parentProperty) {
    if(!p.referencedDomainClass) return "<!--ManyToOne- no referencedDomainClass -->"

    String idName = DomainHelper.getPropertyFullName(p, parentProperty, '_', true)
    String propName = DomainHelper.getPropertyFullName(p, parentProperty, '.', true)
    String translate = "pages.${domainClass.propertyName}.defaultFieldName.${propName}"
    String acFnName = "${p.referencedDomainClass.propertyName}Query(searchText_$idName, [${makeUseDisplaynamesStr(owningClass, p)}], true)"
    String str =  """<!--ManyToMany-->"""
    str += makeChipsWithAutocomplete("$propName", idName, acFnName,  translate)
    return str;
}
private String renderAutocomplete(owningClass, p, parentProperty) {
    String parentPropName = (parentProperty?.component) ? parentProperty?.name + '.' : ''

    String acFunctionName = (p.cp.format)?:p.name

    String propName = "${p.name}s"
    if(parentPropName){
        propName = DomainHelper.getPropertyFullName(p, parentProperty, '', true) + "s"
    }

    boolean displayParentPropName = false
    if(parentProperty){
        def embeddedProps = scaffoldingHelper.getProps(parentProperty.component).grep{it.cp?.display != false &&it.cp?.editable != false && it.name!= 'id'}
        displayParentPropName =(embeddedProps.size()==1 || parentProperty.cp.widget == 'autocomplete')

        acFunctionName = (parentProperty?.cp?.format)?:(p.cp?.format)?:p.name
    }
    String translateStr = "pages.${domainClass.propertyName}.defaultFieldName.${parentPropName}${p.name}"
    if(displayParentPropName)translateStr = "pages.${domainClass.propertyName}.defaultFieldName.${parentProperty.name}.title"

    String idName = DomainHelper.getPropertyFullName(p, parentProperty, '_', true)


    String str =  """<!--ManyToOne-->"""
    str += makeChipsWithAutocomplete("$propName", idName, "${acFunctionName}SimpleQuery(searchText_$idName)",  translateStr)
    return str;
}

private String renderManyToMany(owningClass, p, parentProperty) {
     String str =  """<!--ManyToMany-->
      """
     return str;
}

private String renderOneToMany(owningClass, p, parentProperty) {
     String str =  """<!--OneToMany-->
         
            """
     return str;
}

private renderJoinProperty(owningClass, p, parentProperty, joinProperty) {
    return  """//JoinProperty
    //${grails.util.GrailsNameUtils.getShortName(p.getReferencedPropertyType()).toLowerCase()}
                //${grails.util.GrailsNameUtils.getShortName(joinProperty.getReferencedPropertyType()).toLowerCase()}
                //referencedPropertyName:'${p.getReferencedPropertyName()}.id'
                //${p.naturalName}
        """
}

private String makeChipsWithAutocomplete(String modelName, String idName, String acQueryVar, placeholder){
    String str =  """
    <md-chips
            ng-init="search.$modelName = []"
            ng-model="search.$modelName"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    """

    //md-chips does not support
    //if (isRequired(cp)) str += " required"

    str += """><md-autocomplete
            md-selected-item="selectedItem_$idName"
            md-search-text="searchText_$idName"
            md-items="item in appCtrl.autocompleteService.${acQueryVar}"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'$placeholder' | translate}}"
        >
        <span md-highlight-text="searchText_$idName">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{\$chip.name || \$chip.label}}</span>
    </md-chip-template>
    """

    str += """</md-chips>"""
    return str;
}
//Same as in _.form.html template
private makeUseDisplaynamesStr(owningClass, p){
    Map useDisplaynames = scaffoldingHelper.getDomainClassDisplayNames(owningClass, p)
    if(!useDisplaynames) useDisplaynames = ['id': null]
    String useDisplaynamesStr = useDisplaynames.collect{key, value->"'" + key + "'"}.join(",")
}


//####################### SEARCH ###################################
%>
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="${domainClass.propertyName}_list" class="md-hue-1" ng-init="pageTitle = 'pages.${domainClass.propertyName}.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.${domainClass.propertyName}.create" ng-click="\$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.${domainClass.propertyName}.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen">
         <form name="${domainClass.propertyName}Form" novalidate>
             <div layout="row" layout-align="start start">
             <%
                 for (p in props) {
                    println renderFieldSearch(p, domainClass)
                 }
                 for (p in allEmbeddedProps) {
                     def embeddedProps = scaffoldingHelper.getProps(p.component).grep{it.cp?.display != false && it.name!= 'id'}

                     embeddedProps?.each{ep->
                         println renderFieldSearch(ep, domainClass, p)
                     }
                 }
             %>
             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().\$loading">
	      <table class="table table-responsive" ng-table="tableParams" >
	      	<tbody>
				<tr ng-repeat="${domainClass.propertyName} in \$data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.${domainClass.propertyName}.view({id:${domainClass.propertyName}.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.${domainClass.propertyName}.view.edit({id:${domainClass.propertyName}.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="delete${domainClass.shortName}(${domainClass.propertyName})" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(${domainClass.propertyName})" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.${domainClass.propertyName}.defaultFieldName.id' | translate" sortable="'id'">{{::${domainClass.propertyName}.id}}</td>\
					<%for (p in props) {%>
			   		${renderFieldRow(p, domainClass)}\
				 	<%}%>

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>