.row
    .col-lg-6
        h3.mtn Small Table
        table.table.table-hover.table-bordered.table-advanced.table-sm
            thead
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-success Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-info Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-warning Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-danger Blocked
    .col-lg-6
        h3.mtn Normal Table
        table.table.table-hover.table-bordered.table-advanced
            thead
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-success Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-info Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-warning Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-danger Blocked
.row
    .col-lg-6
        h3 Large Table
        table.table.table-hover.table-bordered.table-advanced.table-lg
            thead
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-success Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-info Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-warning Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-danger Blocked
