.row
    .col-lg-12
        h3.mtn Fixed Header
        p Scroll down to see the sticky table header in action.
        table.table.table-hover.table-striped.table-bordered.table-advanced.tablesorter.tb-sticky-header
            thead
                tr
                    th(width='3%')
                        input.checkall(type='checkbox')
                    th(width='9%') Record #
                    th Username
                    th(width='10%') Country
                    th(width='10%') Gender
                    th(width='7%') Order
                    th(width='12%') Date
                    th(width='10%') Price
                    th(width='9%') Status
                    th(width='12%') Actions
            tbody
                tr
                    td
                        input(type='checkbox')
                    td 1
                    td Henry
                    td United States
                    td Male
                    td 32
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 2
                    td John
                    td United States
                    td Female
                    td 45
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 3
                    td Larry
                    td United States
                    td Female
                    td 40
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 4
                    td Lahm
                    td United States
                    td Female
                    td 15
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 5
                    td Henry
                    td United States
                    td Male
                    td 32
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 6
                    td John
                    td United States
                    td Male
                    td 41
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 7
                    td Larry
                    td United States
                    td Female
                    td 43
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 8
                    td Lahm
                    td United States
                    td Male
                    td 15
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 9
                    td Henry
                    td United States
                    td Male
                    td 45
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 10
                    td John
                    td United States
                    td Male
                    td 35
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 11
                    td Larry
                    td United States
                    td Female
                    td 36
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 12
                    td Lahm
                    td United States
                    td Male
                    td 17
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 13
                    td Henry
                    td United States
                    td Male
                    td 68
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 14
                    td John
                    td United States
                    td Female
                    td 36
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 15
                    td Larry
                    td United States
                    td Female
                    td 26
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 16
                    td Lahm
                    td United States
                    td Female
                    td 62
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 17
                    td Henry
                    td United States
                    td Male
                    td 84
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 18
                    td John
                    td United States
                    td Male
                    td 64
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 19
                    td Larry
                    td United States
                    td Male
                    td 21
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 20
                    td Lahm
                    td United States
                    td Female
                    td 18
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 21
                    td Henry
                    td United States
                    td Male
                    td 32
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 22
                    td John
                    td United States
                    td Male
                    td 52
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 23
                    td Larry
                    td United States
                    td Female
                    td 55
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 24
                    td Lahm
                    td United States
                    td Male
                    td 32
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 18
                    td John
                    td United States
                    td Male
                    td 64
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 19
                    td Larry
                    td United States
                    td Male
                    td 21
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 20
                    td Lahm
                    td United States
                    td Female
                    td 18
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 21
                    td Henry
                    td United States
                    td Male
                    td 32
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-success Approved
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 22
                    td John
                    td United States
                    td Male
                    td 52
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-info Pending
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 23
                    td Larry
                    td United States
                    td Female
                    td 55
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-warning Suspended
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
                tr
                    td
                        input(type='checkbox')
                    td 24
                    td Lahm
                    td United States
                    td Male
                    td 32
                    td 20-05-2014
                    td $240.50
                    td
                        span.label.label-sm.label-danger Blocked
                    td
                        button.btn.btn-default.btn-xs(type='button')
                            i.fa.fa-edit
                            | &nbsp;
                            | Edit
