.row
    .col-lg-4
        h3.mtn Header Default
        table.table.table-hover.table-bordered.table-advanced
            thead
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Warning
        table.table.table-hover.table-advanced.table-bordered
            thead.warning
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Red
        table.table.table-hover.table-advanced.table-bordered
            thead.red
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Yellow
        table.table.table-hover.table-advanced.table-bordered
            thead.yellow
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Violet
        table.table.table-hover.table-advanced.table-bordered
            thead.violet
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header White
        table.table.table-hover.table-advanced.table-bordered
            thead.white
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
    .col-lg-4
        h3.mtn Header Primary
        table.table.table-hover.table-advanced.table-bordered
            thead.primary
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Info
        table.table.table-hover.table-advanced.table-bordered
            thead.info
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Orange
        table.table.table-hover.table-advanced.table-bordered
            thead.orange
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Blue
        table.table.table-hover.table-advanced.table-bordered
            thead.blue
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Grey
        table.table.table-hover.table-advanced.table-bordered
            thead.grey
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
    .col-lg-4
        h3.mtn Header Success
        table.table.table-hover.table-advanced.table-bordered
            thead.success
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Danger
        table.table.table-hover.table-advanced.table-bordered
            thead.danger
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Green
        table.table.table-hover.table-advanced.table-bordered
            thead.green
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Pink
        table.table.table-hover.table-advanced.table-bordered
            thead.pink
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked
        hr.mtxl.mbxl
        h3 Header Dark
        table.table.table-hover.table-advanced.table-bordered
            thead.dark
                tr
                    th #
                    th Username
                    th Age
                    th Status
            tbody
                tr
                    td 1
                    td Henry
                    td 23
                    td
                        span.label.label-sm.label-default Approved
                tr
                    td 2
                    td John
                    td 45
                    td
                        span.label.label-sm.label-default Pending
                tr
                    td 3
                    td Larry
                    td 30
                    td
                        span.label.label-sm.label-default Suspended
                tr
                    td 4
                    td Lahm
                    td 15
                    td
                        span.label.label-sm.label-default Blocked