<% 
    import grails.plugin.scaffold.core.ScaffoldingHelper
    ScaffoldingHelper sh = new ScaffoldingHelper(domainClass, pluginManager, comparator, getClass().classLoader)
    props = sh.getProps()
%>
<%
private renderFieldRow(p, owningClass) {
	return """
		<tr>
			<th>${p.naturalName}</<th>
			<td data-ng-bind="${owningClass.propertyName}.${p.name}"></td>
		</tr>
	"""
}%>

<div class="col-xs-6">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Edit ${domainClass.naturalName}</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<table class="table table-responsive">		
		<%  
		for (p in props) {
			if (!p.embedded && !p.oneToMany && !p.manyToMany) {%>
		${renderFieldRow(p, domainClass)}\
			<%}%>
		<%}%>
			</table>
		</div>
		<div class="box-footer">
			<a class="btn btn-default" ui-sref="app.${domainClass.propertyName}.edit({id:${domainClass.propertyName}.id})">
		    	<i class="fa fa-edit">&nbsp;Edit</i>
	       	</a>
			<a class="btn btn-danger" ng-click="delete${domainClass.shortName}(${domainClass.propertyName})">
				<i class="fa fa-trash-o">&nbsp;Delete</i>
	        </a>
		</div>
	</div>	
</div>					