.row
    .col-lg-12
        .gallery-pages
            ul.list-filter.list-unstyled.list-inline
                li.filter(data-filter='all') All
                li.filter(data-filter='.development') Development
                li.filter(data-filter='.design') Design
                li.filter(data-filter='.photography') Photography
                li.filter(data-filter='.wordpress') Wordpress
                li.filter(data-filter='.html') Html
            .row.mix-grid
                .col-md-4.mix.photography
                    .hover-effect
                        .img
                            img.img-responsive(src='http://swlabs.co/madmin/code/images/gallery/1.jpg', alt='')
                        .info
                            h3 Pellentesque vehicula
                            p Description goes here
                            a.mix-link(href='#')
                                i.glyphicon.glyphicon-link
                            a.mix-zoom(href='http://swlabs.co/madmin/code/images/gallery/1.jpg', data-lightbox='image-1', data-title='Image 1' )
                                i.glyphicon.glyphicon-search
                .col-md-4.mix.html.development
                    .hover-effect
                        .img
                            img.img-responsive(src='http://swlabs.co/madmin/code/images/gallery/2.jpg', alt='')
                        .info
                            h3 Pellentesque vehicula
                            p Description goes here
                            a.mix-link(href='#')
                                i.glyphicon.glyphicon-link
                            a.mix-zoom(href='http://swlabs.co/madmin/code/images/gallery/2.jpg', data-lightbox='image-2', data-title='Image 2' )
                                i.glyphicon.glyphicon-search
                .col-md-4.mix.html.design
                    .hover-effect
                        .img
                            img.img-responsive(src='http://swlabs.co/madmin/code/images/gallery/3.jpg', alt='')
                        .info
                            h3 Pellentesque vehicula
                            p Description goes here
                            a.mix-link(href='#')
                                i.glyphicon.glyphicon-link
                            a.mix-zoom(href='http://swlabs.co/madmin/code/images/gallery/3.jpg', data-lightbox='image-3', data-title='Image 3' )
                                i.glyphicon.glyphicon-search
                .col-md-4.mix.wordpress
                    .hover-effect
                        .img
                            img.img-responsive(src='http://swlabs.co/madmin/code/images/gallery/4.jpg', alt='')
                        .info
                            h3 Pellentesque vehicula
                            p Description goes here
                            a.mix-link(href='#')
                                i.glyphicon.glyphicon-link
                            a.mix-zoom(href='http://swlabs.co/madmin/code/images/gallery/4.jpg', data-lightbox='image-4', data-title='Image 4' )
                                i.glyphicon.glyphicon-search
                .col-md-4.mix.html.design
                    .hover-effect
                        .img
                            img.img-responsive(src='http://swlabs.co/madmin/code/images/gallery/5.jpg', alt='')
                        .info
                            h3 Pellentesque vehicula
                            p Description goes here
                            a.mix-link(href='#')
                                i.glyphicon.glyphicon-link
                            a.mix-zoom(href='http://swlabs.co/madmin/code/images/gallery/5.jpg', data-lightbox='image-5', data-title='Image 5' )
                                i.glyphicon.glyphicon-search
                .col-md-4.mix.wordpress
                    .hover-effect
                        .img
                            img.img-responsive(src='http://swlabs.co/madmin/code/images/gallery/6.jpg', alt='')
                        .info
                            h3 Pellentesque vehicula
                            p Description goes here
                            a.mix-link(href='#')
                                i.glyphicon.glyphicon-link
                            a.mix-zoom(href='http://swlabs.co/madmin/code/images/gallery/6.jpg', data-lightbox='image-6', data-title='Image 6' )
                                i.glyphicon.glyphicon-search