.row
    .col-lg-6
        .note.note-success
            h3 Success! Duis mollis, est non commodo luctus
            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
        .note.note-info
            h3 Info! Duis mollis, est non commodo luctus
            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
    .col-lg-6
        .note.note-warning
            h3 Warning! Duis mollis, est non commodo luctus
            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
        .note.note-danger
            h3 Dangerous! Duis mollis, est non commodo luctus
            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.