.row
    .col-lg-6
        h3 Labels
        span.label.label-default Default
        | &nbsp;
        span.label.label-primary Primary
        | &nbsp;
        span.label.label-success Success
        | &nbsp;
        span.label.label-info Info
        | &nbsp;
        span.label.label-warning Warning
        | &nbsp;
        span.label.label-danger Danger
        .mbxl
        h3 Label Colors
        span.label.label-red Red
        | &nbsp;
        span.label.label-orange Orange
        | &nbsp;
        span.label.label-green Green
        | &nbsp;
        span.label.label-yellow Yellow
        | &nbsp;
        span.label.label-blue Blue
        | &nbsp;
        span.label.label-violet Violet
        | &nbsp;
        span.label.label-pink Pink
        | &nbsp;
        span.label.label-grey Grey
        | &nbsp;
        span.label.label-dark Dark
        .mbxl
        h3 Label In Headings
        h1
            | Example heading
            | &nbsp;
            span.label.label-default Default
        h2
            | Example heading
            | &nbsp;
            span.label.label-primary Primary
        h3
            | Example heading
            | &nbsp;
            span.label.label-success Success
        h4
            | Example heading
            | &nbsp;
            span.label.label-warning Warning
        h5
            | Example heading
            | &nbsp;
            span.label.label-info Info
        h6
            | Example heading
            | &nbsp;
            span.label.label-danger Danger
    .col-lg-6
        h3 Badges
        span.badge.badge-default Default
        | &nbsp;
        span.badge.badge-primary Primary
        | &nbsp;
        span.badge.badge-success Success
        | &nbsp;
        span.badge.badge-warning Warning
        | &nbsp;
        span.badge.badge-info Info
        | &nbsp;
        span.badge.badge-danger Danger
        .mbxl
        h3 Badge Colors
        span.badge.badge-red Red
        | &nbsp;
        span.badge.badge-orange Orange
        | &nbsp;
        span.badge.badge-green Green
        | &nbsp;
        span.badge.badge-yellow Yellow
        | &nbsp;
        span.badge.badge-blue Blue
        | &nbsp;
        span.badge.badge-pink Pink
        | &nbsp;
        span.badge.badge-violet Violet
        | &nbsp;
        span.badge.badge-grey Grey
        | &nbsp;
        span.badge.badge-dark Dark
        .mtxl
        h3 Badges List Navigations
        ul.nav.nav-pills.nav-stacked(style='max-width: 260px;')
            li.active
                a(href='javascript:void(0);')
                    span.badge.pull-right 2
                    | Home
            li
                a(href='javascript:void(0);') Profile
            li
                a(href='javascript:void(0);')
                    span.badge.badge-warning.pull-right 3
                    | Messages
        .mtxl
        h3 Badge In Pill
        ul.nav.nav-pills
            li.active
                a(href='javascript:void(0);')
                    | Home
                    | &nbsp;
                    span.badge 3
            li
                a(href='javascript:void(0);') Profile
            li
                a(href='javascript:void(0);')
                    | Messages
                    | &nbsp;
                    span.badge.badge-info 3
        .mbxl
        h3 Badge With Button Dropdown
        .btn-group
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                | Account
                | &nbsp;
                i.fa.fa-angle-down
            ul.dropdown-menu(role='menu')
                li
                    a(href='javascript:void(0);')
                        | Action
                        span.badge.badge-yellow.pull-right 5
                li
                    a(href='javascript:void(0);')
                        | Another action
                        span.badge.badge-info.pull-right 3
                li
                    a(href='javascript:void(0);') Something else here
                li.divider
                li
                    a(href='javascript:void(0);') Separated link
        | &nbsp;
        .btn-group
            button.btn.btn-primary(type='button') Chats
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                i.fa.fa-angle-down
            ul.dropdown-menu
                li
                    a(href='javascript:void(0);')
                        span.label.label-warning 7:00 AM
                        | &nbsp;
                        | Hi :)
                li
                    a(href='javascript:void(0);')
                        span.label.label-warning 8:00 AM
                        | &nbsp;
                        | How are you?
                li
                    a(href='javascript:void(0);')
                        span.label.label-warning 9:00 AM
                        | &nbsp;
                        | What are you doing?
                li.divider
                li
                    a.text-center(href='javascript:void(0);') View All
        | &nbsp;
        .btn-group
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                | Inbox
                | &nbsp;
                span.badge 25
            ul.dropdown-menu.pull-right
                li
                    a(href='javascript:void(0);')
                        span.label.label-info
                            i.fa.fa-bell
                        | &nbsp;
                        | Favourites Snippet
                li
                    a(href='javascript:void(0);')
                        span.label.label-red
                            i.fa.fa-magic
                        | &nbsp;
                        | Email marketing
                li
                    a(href='javascript:void(0);')
                        span.label.label-yellow
                            i.fa.fa-bullhorn
                        | &nbsp;
                        | Subscriber focused email design
                li.divider
                li
                    a.text-center(href='javascript:void(0);') View All