.row
    .col-lg-4
        h3 Pagination
        ul.pagination.mtm.mbm
            li
                a(href='#') &laquo;
            li
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') 5
            li
                a(href='#') &raquo;
        .mbxl
        h3 Disabled and active states
        ul.pagination.mtm.mbm
            li.disabled
                a(href='#') &laquo;
            li.active
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') 5
            li
                a(href='#') &raquo;
    .col-lg-4
        h3 Size
        ul.pagination.pagination-lg.mtm.mbm
            li
                a(href='#') &laquo;
            li
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') &raquo;
        ul.pagination.mtm.mbm
            li
                a(href='#') &laquo;
            li
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') 5
            li
                a(href='#') &raquo;
        ul.pagination.pagination-sm.mtm.mbm
            li
                a(href='#') &laquo;
            li
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') 5
            li
                a(href='#') &raquo;
    .col-lg-4
        h3 Pagination Align
        ul.pagination.mtm.mbm(data-hover='')
            li.disabled
                a(href='#') &laquo;
            li.active
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') 5
            li
                a(href='#') &raquo;
        .text-center
            ul.pagination.mtm.mbm
                li
                    a(href='#') &laquo;
                li
                    a(href='#') 1
                li
                    a(href='#') 2
                li.active
                    a(href='#') 3
                li
                    a(href='#') 4
                li
                    a(href='#') 5
                li
                    a(href='#') &raquo;
        .text-right
            ul.pagination.mtm.mbm
                li
                    a(href='#') &laquo;
                li
                    a(href='#') 1
                li
                    a(href='#') 2
                li
                    a(href='#') 3
                li
                    a(href='#') 4
                li.active
                    a(href='#') 5
                li.disabled
                    a(href='#') &raquo;
hr
.row
    .col-lg-4
        h3 Pager
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next
    .col-lg-4
        h3 Pager Aligned Links
        ul.pager
            li.previous
                a(href='#') &larr; Older
            li.next
                a(href='#') Newer &rarr;
    .col-lg-4
        h3 Pager Optional Disabled State
        ul.pager
            li.previous.disabled
                a(href='#') &larr; Older
            li.next
                a(href='#') Newer &rarr;