.row
    .col-lg-6
        h3 Tooltip
        button.btn.btn-default.mbs(type='button', data-toggle='tooltip', data-placement='left', title='Tooltip on left') Tooltip on left
        | &nbsp;
        button.btn.btn-default.mbs(type='button', data-toggle='tooltip', data-placement='top', title='Tooltip on top') Tooltip on top
        | &nbsp;
        button.btn.btn-default.mbs(type='button', data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') Tooltip on bottom
        | &nbsp;
        button.btn.btn-default.mbs(type='button', data-toggle='tooltip', data-placement='right', title='Tooltip on right') Tooltip on right
    .col-lg-6
        h3 Popovers
        button.btn.btn-default.mbs(type='button', data-container='body', data-toggle='popover', data-placement='left', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
            | Popover on left
        | &nbsp;
        button.btn.btn-default.mbs(type='button', data-container='body', data-toggle='popover', data-placement='top', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
            | Popover on top
        | &nbsp;
        button.btn.btn-default.mbs(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
            | Popover on bottom
        | &nbsp;
        button.btn.btn-default.mbs(type='button', data-container='body', data-toggle='popover', data-placement='right', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
            | Popover on right
.mbxl
.row
    .col-lg-4
        h3 Large Well
        .well.well-lg
            | Look, I'm in a large well!
    .col-lg-4
        h3 Default Well
        .well
            | Look, I'm in a well!
    .col-lg-4
        h3 Small Well
        .well.well-sm
            | Look, I'm in a small well!
.mbxl
.row
    .col-lg-6
        h3 Media object
        .media
            a.pull-left(href='#')
                img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
            .media-body
                h4.media-heading Media heading
                | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        .media
            a.pull-left(href='#')
                img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
            .media-body
                h4.media-heading Media heading
                | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                .media
                    a.pull-left(href='#')
                        img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
                    .media-body
                        h4.media-heading Nested media heading
                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    .col-lg-6
        h3 Media List
        ul.media-list
            li.media
                a.pull-left(href='#')
                    img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
                .media-body
                    h4.media-heading Media heading
                    p
                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    .media
                        a.pull-left(href='#')
                            img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
                        .media-body
                            h4.media-heading Nested media heading
                            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            .media
                                a.pull-left(href='#')
                                    img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
                                .media-body
                                    h4.media-heading Nested media heading
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    .media
                        a.pull-left(href='#')
                            img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
                        .media-body
                            h4.media-heading Nested media heading
                            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            li.media
                a.pull-right(href='#')
                    img.media-object(data-src='holder.js/64x64/text:avatar', alt='64x64')
                .media-body
                    h4.media-heading Media heading
                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.



