h3 Default Thumbnails
.row
    .col-sm-6.col-md-3
        a.thumbnail(href='#')
            img(data-src='holder.js/300x180/text:hello')
    .col-sm-6.col-md-3
        a.thumbnail(href='#')
            img(data-src='holder.js/300x180/text:hello')
    .col-sm-6.col-md-3
        a.thumbnail(href='#')
            img(data-src='holder.js/300x180/text:hello')
    .col-sm-6.col-md-3
        a.thumbnail(href='#')
            img(data-src='holder.js/300x180/text:hello')
h3 Custom Content
.row
    .col-sm-6.col-md-3
        .thumbnail
            img(data-src='holder.js/300x200/text:hello')
            .caption
                h3 Thumbnail label
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                p
                    a.btn.btn-primary(href='#', role='button') Button
                    | &nbsp;
                    a.btn.btn-default(href='#', role='button') Button
    .col-sm-6.col-md-3
        .thumbnail
            img(data-src='holder.js/300x200/text:hello')
            .caption
                h3 Thumbnail label
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                p
                    a.btn.btn-primary(href='#', role='button') Button
                    | &nbsp;
                    a.btn.btn-default(href='#', role='button') Button
    .col-sm-6.col-md-3
        .thumbnail
            img(data-src='holder.js/300x200/text:hello')
            .caption
                h3 Thumbnail label
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                p
                    a.btn.btn-primary(href='#', role='button') Button
                    | &nbsp;
                    a.btn.btn-default(href='#', role='button') Button
    .col-sm-6.col-md-3
        .thumbnail
            img(data-src='holder.js/300x200/text:hello', alt='...')
            .caption
                h3 Thumbnail label
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                p
                    a.btn.btn-primary(href='#', role='button') Button
                    | &nbsp;
                    a.btn.btn-default(href='#', role='button') Button
script(src='vendors/holder/holder.js')