<div nv-file-drop uploader="uploader">
  <div class="drop" nv-file-over uploader="uploader" over-class="drag-over">
              <span class="btn btn-default btn-file">{{'upload.file' | translate}}
                <input type="file"
                       aria-label="upload file"
                       nv-file-select
                       uploader="uploader">
              </span>
    <b>{{'upload.or' | translate}}</b>
    {{'upload.drop' | translate}}
  </div>
  <table class="table" ng-if="uploader.queue.length > 0">
    <thead>
    <tr>
      <th width="50%" translate="upload.name"></th>
      <th translate="upload.size"></th>
      <th translate="upload.progress"></th>
      <th translate="upload.status"></th>
      <th translate="upload.actions"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in uploader.queue">
      <td><strong>{{ item.file.name }}</strong></td>
      <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
      <td ng-show="uploader.isHTML5">
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
        </div>
      </td>
      <td class="text-center">
        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
      </td>
      <td nowrap>
        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-upload"></span> {{'upload.upload' | translate}}
        </button>
        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                ng-disabled="!item.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> {{'upload.cancel' | translate}}
        </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
          <span class="glyphicon glyphicon-trash"></span> {{'upload.remove' | translate}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
