.row#change-transitions(ng-animation="")
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='bounce') bounce
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='flash') flash
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='pulse') pulse
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='rubberBand') rubberBand
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='shake') shake
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='swing') swing
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='tada') tada
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='wobble') wobble
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='bounceIn') bounceIn
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='bounceInDown') bounceInDown
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='bounceInLeft') bounceInLeft
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='bounceInRight') bounceInRight
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='bounceInUp') bounceInUp
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeIn') fadeIn
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInDown') fadeInDown
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInDownBig') fadeInDownBig
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInLeft') fadeInLeft
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInLeftBig') fadeInLeftBig
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInRight') fadeInRight
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInRightBig') fadeInRightBig
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInUp') fadeInUp
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='fadeInUpBig') fadeInUpBig
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='flip') flip
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='flipInX') flipInX
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='flipInY') flipInY
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='lightSpeedIn') lightSpeedIn
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='rotateIn') rotateIn
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='rotateInDownLeft') rotateInDownLeft
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='rotateInDownRight') rotateInDownRight
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='rotateInUpLeft') rotateInUpLeft
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='rotateInUpRight') rotateInUpRight
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='slideInDown') slideInDown
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='slideInLeft') slideInLeft
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='slideInRight') slideInRight
    .col-md-2
        .box-placeholder
            button.btn.btn-success.btn-block(data-toggle='dropdown', data-value='rollIn') rollIn



