.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Scatter plot
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #ajax-loaded-data
        .portlet.box
            .portlet-header
                .caption Time series, zoomable
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #time-series-zoomable

    .col-lg-6
        .portlet.box
            .portlet-header
                .caption With data labels
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #with-data-labels
        .portlet.box
            .portlet-header
                .caption Spline with inverted axes
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #spline-with-inverted-axes


