.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Scatter plot
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #pie-chart
        .portlet.box
            .portlet-header
                .caption Pie with legend
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #pie-with-legend
        .portlet.box
            .portlet-header
                .caption Semi circle donut
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #semi-circle-donut

    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Pie with gradient fill
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #pie-with-gradient-fill
        .portlet.box
            .portlet-header
                .caption Donut chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #donut-chart


