.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Scatter plot
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #basic-bar
        .portlet.box
            .portlet-header
                .caption Bar with negative stack
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #bar-with-negative-stack
        .portlet.box
            .portlet-header
                .caption Column with negative values
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #column-with-negative-values
        .portlet.box
            .portlet-header
                .caption tacked and grouped column
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #stacked-and-grouped-column
        .portlet.box
            .portlet-header
                .caption Column with rotated labels
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #column-with-rotated-labels
        .portlet.box
            .portlet-header
                .caption Data defined in a HTML table
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #data-defined-in-a-HTML-table
                table#datatable
                    thead
                        tr
                            th
                            th Jane
                            th John
                        tbody
                            tr
                                th Apples
                                td 3
                                td 4
                            tr
                                th Pears
                                td 2
                                td 0
                            tr
                                th Plums
                                td 5
                                td 11
                            tr
                                th Bananas
                                td 1
                                td 1
                            tr
                                th Oranges
                                td 2
                                td 4

    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Stacked bar
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #stacked-bar
        .portlet.box
            .portlet-header
                .caption Basic column
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #basic-column
        .portlet.box
            .portlet-header
                .caption Stacked column
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #stacked-column
        .portlet.box
            .portlet-header
                .caption Stacked percentage column
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #stacked-percentage-column
        .portlet.box
            .portlet-header
                .caption Column range
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #column-range


