.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Line Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #line-chart(style="width: 100%; height:300px")
        .portlet.box
            .portlet-header
                .caption Bar Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #bar-chart(style="width: 100%; height:300px")
        .portlet.box
            .portlet-header
                .caption Area Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #area-chart(style="width: 100%; height:300px")
        .portlet.box
            .portlet-header
                .caption Pie Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #pie-chart(style="width: 100%; height:300px")
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Line Chart - Spline
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #line-chart-spline(style="width: 100%; height:300px")
        .portlet.box
            .portlet-header
                .caption Bar Chart - Stack
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                h4.block-heading Bar Chart - Stack
                #bar-chart-stack(style="width: 100%; height:300px")
        .portlet.box
            .portlet-header
                .caption Area Chart - Spline
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #area-chart-spline(style="width: 100%; height:300px")
        .portlet.box
            .portlet-header
                .caption Percentiles Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #percentiles-chart(style="width: 100%; height:300px")
