.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Scatter plot
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #spline-updating-each-second
        .portlet.box
            .portlet-header
                .caption Master-detail chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #master-detail-chart

    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Click to add a point
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #click-to-add-a-point


