.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Scatter plot
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #column-line-and-pie
        .portlet.box
            .portlet-header
                .caption Multiple axes
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #multiple-axes

    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Dual axes, line and column
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #dual-axes-line-and-column
        .portlet.box
            .portlet-header
                .caption Scatter with regression line
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #scatter-with-regression-line


