.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Line Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                canvas#line-chart(width="600", height="400", style="height: 400px !important")
        .portlet.box
            .portlet-header
                .caption Radar Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                canvas#radar-chart(width="600", height="400", style="height: 400px !important")
        .portlet.box
            .portlet-header
                .caption Pie Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                canvas#pie-chart(width="600", height="400", style="height: 400px !important")
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Bar Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                canvas#bar-chart(width="600", height="400", style="height: 400px !important")
        .portlet.box
            .portlet-header
                .caption Polar area chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                canvas#polar-area-chart(width="600", height="400", style="height: 400px !important")
        .portlet.box
            .portlet-header
                .caption Doughnut Chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                canvas#doughnut-chart(width="600", height="400", style="height: 400px !important")

