.row
    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Scatter plot
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #scatter-plot
        .portlet.box
            .portlet-header
                .caption 3D bubbles
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #threeD-bubbles

    .col-lg-6
        .portlet.box
            .portlet-header
                .caption Bubble chart
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                #bubble-chart


