#lock-screen-page
    .page-form
        .body-content
            #lock-screen-avatar
                img.img-responsive.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
            #lock-screen-info
                h1 John Doe
                .email example@email.com
                form.mtl.mbl(action='/#/')
                    .input-icon.right
                        i.fa.fa-unlock
                        input.form-control(type='password', value='123456789')