.row
    .col-lg-4
        .portlet.box.portlet-yellow
            .portlet-header
                .caption Last 5 of logged users
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                ul.thumb-large
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/dominikmartn/128.jpg')
                        .media-body
                            .quick-menu.btn-group.menu-right
                                a.btn.btn-default.btn-xs(href='javascript:void(0);')
                                    .fa.fa-edit
                                    | &nbsp;
                                    | 10
                                a.btn.btn-default.btn-xs(href='javascript:void(0);')
                                    .fa.fa-comment
                                    | &nbsp;
                                    | 94
                            h4.media-heading
                                a(href='javascript:void(0);') Peter Pederson
                                small
                                    a(href='') gatesa@email.com
                            p.meta
                                | Last Access:
                                | &nbsp;
                                span 2 min 21 sec ago
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg')
                        .media-body
                            .quick-menu.btn-group.menu-right
                                a.btn.btn-default.btn-xs(href='javascript:void(0);')
                                    .fa.fa-edit
                                    | &nbsp;
                                    | 10
                                a.btn.btn-default.btn-xs(href='javascript:void(0);')
                                    .fa.fa-comment
                                    | &nbsp;
                                    | 94
                            h4.media-heading
                                a(href='javascript:void(0);') Paula Gates
                                small
                                    a(href='') gatesa@email.com
                            p.meta
                                | Last Access:
                                | &nbsp;
                                span 2 min 21 sec ago
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/jonatan/128.jpg')
                        .media-body
                            .quick-menu.btn-group.menu-right
                                a.btn.btn-default.btn-xs(href='javascript:void(0);')
                                    .fa.fa-edit
                                    | &nbsp;
                                    | 10
                                a.btn.btn-default.btn-xs(href='javascript:void(0);')
                                    .fa.fa-comment
                                    | &nbsp;
                                    | 94
                            h4.media-heading
                                a(href='javascript:void(0);') Anna Gates
                                small
                                    a(href='') gatesa@email.com
                            p.meta
                                | Last Access:
                                | &nbsp;
                                span 2 min 21 sec ago
                p.text-right.mbn.user-list-footer
                    button.btn.btn-success(type='submit') View all
    .col-lg-4
        .portlet.box.portlet-yellow
            .portlet-header
                .caption User social page
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .input-group
                    input.form-control(type='text')
                    .input-group-btn
                        button.btn.btn-green.dropdown-toggle(type='button', data-toggle='dropdown')
                            i.fa.fa-search
                hr
                ul.list-dotted.thumb-small
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/geeftvorm/128.jpg')
                        .media-body
                            .quick-menu-icon.menu-right
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-facebook-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-twitter-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-google-plus-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-linkedin-square
                            h4.media-heading
                                a(href='#') Brent Dillender
                                small
                                    a(href='') gatesa@email.com
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/dominikmartn/128.jpg')
                        .media-body
                            .quick-menu-icon.menu-right
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-facebook-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-twitter-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-google-plus-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-linkedin-square
                            h4.media-heading
                                a(href='#') Anna Gates
                                small
                                    a(href='') gatesa@email.com
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/manoukvdberg/128.jpg')
                        .media-body
                            .quick-menu-icon.menu-right
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-facebook-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-twitter-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-google-plus-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-linkedin-square
                            h4.media-heading
                                a(href='#') Nicolas Johanson
                                small
                                    a(href='') gatesa@email.com
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/128.jpg')
                        .media-body
                            .quick-menu-icon.menu-right
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-facebook-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-twitter-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-google-plus-square
                                a.btn-link(href='javascript:void(0);')
                                    i.fa.fa-linkedin-square
                            h4.media-heading
                                a(href='#') Julie Baumler
                                small
                                    a(href='') gatesa@email.com

    .col-lg-4
        .portlet.box.portlet-yellow
            .portlet-header
                .caption Addresse
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                ul.thumb-xxlarge.media-overflow
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg')
                        .media-body
                            h4.media-heading
                                a(href='javascript:void(0);') Julie Baumler
                                span.label.label-success.pull-right Active
                            .quick-menu.menu-right
                                .btn-group
                                    button.btn.btn-xs.dropdown-toggle(data-toggle='dropdown')
                                        i.fa.fa-cog
                                        | &nbsp;
                                        span.caret
                                    ul.dropdown-menu.pull-right
                                        li
                                            a(href='#')
                                                i.fa.fa-pencil
                                                span.divider-text
                                                | Edit
                                        li
                                            a(href='#')
                                                i.fa.fa-times
                                                span.divider-text
                                                | Reject
                                        li
                                            a(href='#')
                                                i.fa.fa-check
                                                span.divider-text
                                                | Approve
                                        li
                                            a(href='#')
                                                i.fa.fa-trash-o
                                                span.divider-text
                                                | Delete
                            ul.data
                                li
                                    .em.mbs manager to manager
                                li San Francisco, CA 94107
                                li
                                    abbr(title='Phone')
                                        i.fa.fa-phone
                                        | :
                                    | &nbsp;
                                    span (123) 456-7890
                                li
                                    abbr(title='Phone')
                                        i.fa.fa-envelope-o
                                        | :
                                    | &nbsp;
                                    a(href='javascript:void(0);') first.last@email.com
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/osvaldas/128.jpg')
                        .media-body
                            h4.media-heading
                                a(href='javascript:void(0);') Karla Maierweisner
                                span.label.label-success.pull-right Active
                            .quick-menu.menu-right
                                .btn-group
                                    button.btn.btn-xs.dropdown-toggle(data-toggle='dropdown')
                                        i.fa.fa-cog
                                        | &nbsp;
                                        span.caret
                                    ul.dropdown-menu.pull-right
                                        li
                                            a(href='#')
                                                i.fa.fa-pencil
                                                span.divider-text
                                                | Edit
                                        li
                                            a(href='#')
                                                i.fa.fa-times
                                                span.divider-text
                                                | Reject
                                        li
                                            a(href='#')
                                                i.fa.fa-check
                                                span.divider-text
                                                | Approve
                                        li
                                            a(href='#')
                                                i.fa.fa-trash-o
                                                span.divider-text
                                                | Delete
                            ul.data
                                li
                                    .em.mbs manager to manager
                                li San Francisco, CA 94107
                                li
                                    abbr(title='Phone')
                                        i.fa.fa-phone
                                        | :
                                    | &nbsp;
                                    span (123) 456-7890
                                li
                                    abbr(title='Phone')
                                        i.fa.fa-envelope-o
                                        | :
                                    | &nbsp;
                                    a(href='javascript:void(0);') first.last@email.com
                    li.media
                        .media-thumb.media-left
                            a.img-shadow(href='javascript:void(0);')
                                img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg')
                        .media-body
                            h4.media-heading
                                a(href='javascript:void(0);') Tamara Stokes
                                span.label.label-success.pull-right Active
                            .quick-menu.menu-right
                                .btn-group
                                    button.btn.btn-xs.dropdown-toggle(data-toggle='dropdown')
                                        i.fa.fa-cog
                                        | &nbsp;
                                        span.caret
                                    ul.dropdown-menu.pull-right
                                        li
                                            a(href='#')
                                                i.fa.fa-pencil
                                                span.divider-text
                                                | Edit
                                        li
                                            a(href='#')
                                                i.fa.fa-times
                                                span.divider-text
                                                | Reject
                                        li
                                            a(href='#')
                                                i.fa.fa-check
                                                span.divider-text
                                                | Approve
                                        li
                                            a(href='#')
                                                i.fa.fa-trash-o
                                                span.divider-text
                                                | Delete
                            ul.data
                                li
                                    .em.mbs manager to manager
                                li San Francisco, CA 94107
                                li
                                    abbr(title='Phone')
                                        i.fa.fa-phone
                                        | :
                                    | &nbsp;
                                    span (123) 456-7890
                                li
                                    abbr(title='Phone')
                                        i.fa.fa-envelope-o
                                        | :
                                    | &nbsp;
                                    a(href='javascript:void(0);') first.last@email.com
.row
    .col-md-8
        .portlet.box.portlet-yellow
            .portlet-header
                .caption As table
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body.pan
                .table-responsive
                    table#user-last-logged-table.table.table-striped.table-hover.thumb-small
                        thead
                            tr.condensed
                                th(scope='col')
                                    span.column-sorter
                                th(scope='col')
                                    | User
                                    span.column-sorter
                                th(scope='col')
                                    | Username
                                    span.column-sorter
                                th(scope='col')
                                    | Active
                                    span.column-sorter
                                th(scope='col')
                                    | Roles
                                    span.column-sorter
                                th(scope='col')
                                    | Status
                                    span.column-sorter
                                th(scope='col')
                                    | Last Access
                                    span.column-sorter
                        tbody.media-thumb
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/dominikmartn/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Colin Nixon
                                    div semper@email.edu
                                td
                                    | [
                                    span Colix
                                    | ]
                                td
                                    span Yes
                                td admin
                                td
                                    span.label.label-success online
                                td
                                    ul.data
                                        li
                                            em 2 min 21 sec
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 133.64.146.145
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/geeftvorm/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Naida Bennett
                                    div commodo@email.ca
                                td
                                    | [
                                    span Nadiana
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-success online
                                td
                                    ul.data
                                        li
                                            em 5 min 45 sec
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 146.132.46.47
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/andrewcohen/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Danielle Myers
                                    div nunc.sed@email.ca
                                td
                                    | [
                                    span Myellersi
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 18 min 39 sec
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 44.44.55.011
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Whitney Jones
                                    div nunc@email.edu
                                td
                                    | [
                                    span whitney
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 46 min 24 sec
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 188.88.88.88
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/manoukvdberg/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Marvin Bell
                                    div aliquet@email.com
                                td
                                    | [
                                    span marvin-marvin
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 1 hour 52 min
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 97.145.98.146
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/chexee/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Lucas Melendez
                                    div m.malesuada@email.org
                                td
                                    | [
                                    span Melendez
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-success online
                                td
                                    ul.data
                                        li
                                            em 4 hour 21 min
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 111.112.112.011
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/osvaldas/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Devin Harris
                                    div dolor.sit@email.org
                                td
                                    | [
                                    span dolor
                                    | ]
                                td
                                    span Yes
                                td admin
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 1 days 20 hours
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 120.142.134.112
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/jonatan/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Tucker Graves
                                    div libero.nec.ligula@email.ca
                                td
                                    | [
                                    span Tucker
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 2 days 15 hours
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 123.123.123.111
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Linus Carpenter
                                    div pellent@email.com
                                td
                                    | [
                                    span LinusCarpen
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-success online
                                td
                                    ul.data
                                        li
                                            em 3 days 13 hours
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 146.120.100.101
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Quinlan Lindsay
                                    div rhoncus@email.com
                                td
                                    | [
                                    span Quinla
                                    | ]
                                td
                                    span Yes
                                td user
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 1 week 5 days
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 84.75.75.21
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Jolie Ryan
                                    div Proin@email.edu
                                td
                                    | [
                                    span RyJo
                                    | ]
                                td
                                    span Yes
                                td user
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 1 week 6 days
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 125.75.90.90
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Roanna Adkins
                                    div egestas@email.edu
                                td
                                    | [
                                    span Rokins
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-success online
                                td
                                    ul.data
                                        li
                                            em 2 week 1 day
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 196.186.67.67
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Berk Clemons
                                    div mus.Proin.vel@email.edu
                                td
                                    | [
                                    span Berklemons
                                    | ]
                                td
                                    span Yes
                                td user
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 2 week 1 day
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 75.145.75.011
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Tamara Stokes
                                    div nec@email.com
                                td
                                    | [
                                    span marakes
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 2 week 5 days
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 125.164.75.16
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Shoshana Hodges
                                    div nibh@email.org
                                td
                                    | [
                                    span shoshana
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 2 week 6 days
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 156.144.60.62
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Whitney Jones
                                    div nunc@email.edu
                                td
                                    | [
                                    span whitney
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 46 min 24 sec
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 188.88.88.88
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/manoukvdberg/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Marvin Bell
                                    div aliquet@email.com
                                td
                                    | [
                                    span marvin-marvin
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 1 hour 52 min
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 97.145.98.146
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/chexee/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Lucas Melendez
                                    div m.malesuada@email.org
                                td
                                    | [
                                    span Melendez
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-success online
                                td
                                    ul.data
                                        li
                                            em 4 hour 21 min
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 111.112.112.011
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/osvaldas/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Devin Harris
                                    div dolor.sit@email.org
                                td
                                    | [
                                    span dolor
                                    | ]
                                td
                                    span Yes
                                td admin
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 1 days 20 hours
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 120.142.134.112
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/jonatan/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Tucker Graves
                                    div libero.nec.ligula@email.ca
                                td
                                    | [
                                    span Tucker
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 2 days 15 hours
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 123.123.123.111
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Linus Carpenter
                                    div pellent@email.com
                                td
                                    | [
                                    span LinusCarpen
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-success online
                                td
                                    ul.data
                                        li
                                            em 3 days 13 hours
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 146.120.100.101
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Quinlan Lindsay
                                    div rhoncus@email.com
                                td
                                    | [
                                    span Quinla
                                    | ]
                                td
                                    span Yes
                                td user
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 1 week 5 days
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 84.75.75.21
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/andrewcohen/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Danielle Myers
                                    div nunc.sed@email.ca
                                td
                                    | [
                                    span Myellersi
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 18 min 39 sec
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 44.44.55.011
                            tr
                                td
                                    span.img-shadow
                                        img.media-object.thumb(src='https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg')
                                td
                                    a(href='javascript:void(0)')
                                        h6.media-heading Whitney Jones
                                    div nunc@email.edu
                                td
                                    | [
                                    span whitney
                                    | ]
                                td
                                    span Yes
                                td editor
                                td
                                    span.label.label-default offline
                                td
                                    ul.data
                                        li
                                            em 46 min 24 sec
                                            | ago
                                        li
                                            | IP:
                                            strong.user-list-ip 188.88.88.88
    .col-md-4
        .portlet.box.portlet-yellow
            .portlet-header
                .caption As sort & filter list
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .form-search-filter
                    .input-icon
                        i.fa.fa-search
                        input.form-control(type='text', placeholder='Enter keyword here...')
                p
                    .btn-group.btn-group-sm
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Sort by
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu.sort-by
                            li
                                a.sort(data-sort='user-list-name', href='javascript:void(0)') by name
                            li
                                a.sort(data-sort='.user-list-status', href='javascript:void(0)') by status
                            li
                                a.sort(data-sort='user-list-email', href='javascript:void(0)') by email
                            li
                                a.sort(data-sort='user-list-access', href='javascript:void(0)') by access
                    | &nbsp;
                    .btn-group.btn-group-sm
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Show
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu.filter
                            li
                                a#filter-online(href='javascript:void(0)') Online
                            li
                                a#filter-offline(href='javascript:void(0)') Offline
                            li.divider
                            li
                                a#filter-all(href='javascript:void(0)') All
                    | &nbsp;
                    a#refreshList.btn.btn-white.btn-sm(href='javascript:void(0);')
                        | Reset
                        | &nbsp;
                        i.fa.fa-refresh
                hr
                ul.user-last-logged-list
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-default offline
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Paula Gates
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access gatesa@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 08:21
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 158.45.46.27
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-success online
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Joaquin Lippincott
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access aquin@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 08:45
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 146.145.146.011
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-default offline
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Dylan Tack
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access d.tack@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 08:52
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 111.105.156.103
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-success online
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Scott Vandenhey
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access vandy@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 09:15
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 123.45.78.47
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-default offline
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Barrett Olafson
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access olagson@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 09:22
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 147.200.69.00
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-default offline
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Chuck Vose
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access vose@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 09:35
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 154.147.46.78
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-success online
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Mariya Borisova
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access mbo@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 09:37
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 75.45.45.75
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-default offline
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Gizzelle Williams
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access gizzelle@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 10:16
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 146.174.200.124
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-success online
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Julie Baumler
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access julie.baumler@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 10:22
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 102.105.104.55
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-success online
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Anna Gates
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access a.gates@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 10:59
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 125.205.204.27
                    li.media
                        .media-thumb.media-right
                            .user-list-status.label.label-default offline
                        .media-body
                            h4.media-heading
                                i.fa.fa-user
                                a.user-list-name(href='javascript:void(0);') Brent Dillender
                            ul.meta
                                li
                                    i.i.fa.fa-envelope-o
                                    | Email:
                                    strong.user-list-access bredi@email.com
                                li
                                    i.i.fa.fa-clock-o
                                    | Last Access:
                                    strong.user-list-access 12:45
                                li
                                    i.i.fa.fa-globe
                                    | IP:
                                    strong.user-list-ip 158.126.145.27
