#error-page
    #error-page-content
        h1 500!
        h4 Internal Server Error
        p The website cannot display the page.
        p <a href='/#/'>Return home</a> or please come back in a while.