.row#page-pricing
    .col-md-12
        h2 Option 1
        .container
            .row.row-merge
                .col-md-3.col-sm-6
                    .pricing-widget
                        .pricing-head
                            | Basic
                        .pricing-body
                            .pricing-cost
                                strong(style='display: block') $19
                                small per month
                            ul.pricing-list.text-center
                                li
                                    a.btn.btn-sm.btn-default Start your free trial!
                                li
                                    | Amount of space
                                    = ' '
                                    strong 10 GB
                                li
                                    | Bandwidth per month
                                    = ' '
                                    strong 100 GB
                                li
                                    | No. of email accounts
                                    = ' '
                                    strong 1
                                li
                                    | No. of MySql database
                                    = ' '
                                    strong 1
                                li
                                    | 24/7 Unlimited Support
                                    = ' '
                                    strong YES
                                li
                                    | Support Tickets per month
                                    = ' '
                                    strong 1
                                li.text-center
                                    a.btn.btn-success(href='javascript:void(0);') Buy Now
                .col-md-3.col-sm-6
                    .pricing-widget.active
                        .pricing-head
                            | Professional
                        .pricing-body
                            .pricing-cost
                                strong(style='display: block')
                                    span $
                                    | 39
                                small per month
                            ul.pricing-list.text-center
                                li
                                    a.btn.btn-sm.btn-default Start your free trial!
                                li
                                    | Amount of space
                                    = ' '
                                    strong 30 GB
                                li
                                    | Bandwidth per month
                                    = ' '
                                    strong 200 GB
                                li
                                    | No. of email accounts
                                    = ' '
                                    strong 10
                                li
                                    | No. of MySql database
                                    = ' '
                                    strong 10
                                li
                                    | 24/7 Unlimited Support
                                    = ' '
                                    strong YES
                                li
                                    | Support Tickets per month
                                    = ' '
                                    strong 3
                                li.text-center
                                    a.btn.btn-success(href='javascript:void(0);') Buy Now
                .col-md-3.col-sm-6
                    .pricing-widget
                        .pricing-head
                            | Business
                        .pricing-body
                            .pricing-cost
                                strong(style='display: block') $59
                                small per month
                            ul.pricing-list.text-center
                                li
                                    a.btn.btn-sm.btn-default Start your free trial!
                                li
                                    | Amount of space
                                    = ' '
                                    strong 100 GB
                                li
                                    | Bandwidth per month
                                    = ' '
                                    strong 500 GB
                                li
                                    | No. of email accounts
                                    = ' '
                                    strong 50
                                li
                                    | No. of MySql database
                                    = ' '
                                    strong 50
                                li
                                    | 24/7 Unlimited Support
                                    = ' '
                                    strong YES
                                li
                                    | Support Tickets per month
                                    = ' '
                                    strong 5
                                li.text-center
                                    a.btn.btn-success(href='javascript:void(0);') Buy Now
                .col-md-3.col-sm-6
                    .pricing-widget
                        .pricing-head
                            | Unlimited
                        .pricing-body
                            .pricing-cost
                                strong(style='display: block') $79
                                small per month
                            ul.pricing-list.text-center
                                li
                                    a.btn.btn-sm.btn-default Start your free trial!
                                li
                                    | Amount of space
                                    = ' '
                                    strong 200 GB
                                li
                                    | Bandwidth per month
                                    = ' '
                                    strong 800 GB
                                li
                                    | No. of email accounts
                                    = ' '
                                    strong 100
                                li
                                    | No. of MySql database
                                    = ' '
                                    strong 80
                                li
                                    | 24/7 Unlimited Support
                                    = ' '
                                    strong YES
                                li
                                    | Support Tickets per month
                                    = ' '
                                    strong 8
                                li.text-center
                                    a.btn.btn-success(href='javascript:void(0);') Buy Now
        h2 Option 2
        .row.mtl
            .col-xs-12.col-sm-4.col-md-2
                .panel.panel-orange
                    .panel-heading
                        h3.panel-title.text-center
                            | Bronze
                    .panel-body.pan.text-center
                        .the-price
                            h1
                                | $10
                                span.subscript /month
                            small 1 month FREE trial
                        table.table.mbn
                            tbody
                                tr
                                    td
                                        | 1 Account
                                tr.active
                                    td
                                        | 1 Project
                                tr
                                    td
                                        | 100K API Access
                                tr.active
                                    td
                                        | 100MB Storage
                                tr
                                    td
                                        | Custom Cloud Services
                                tr.active
                                    td
                                        | Weekly Reports
                    .panel-footer.pan
                        a.btn.btn-orange.btn-block(href='javascript:void(0);', role='button') Sign Up
            .col-xs-12.col-sm-4.col-md-2
                .panel.panel-violet
                    .ribbon-wrapper
                        .ribbon-inner Hot
                    .panel-heading
                        h3.panel-title.text-center
                            | Silver
                    .panel-body.pan.text-center
                        .the-price
                            h1
                                | $20
                                span.subscript /month
                            small 1 month FREE trial
                        table.table.mbn
                            tbody
                                tr
                                    td
                                        | 2 Account
                                tr.active
                                    td
                                        | 5 Project
                                tr
                                    td
                                        | 100K API Access
                                tr.active
                                    td
                                        | 200MB Storage
                                tr
                                    td
                                        | Custom Cloud Services
                                tr.active
                                    td
                                        | Weekly Reports
                    .panel-footer.pan
                        a.btn.btn-violet.btn-block(href='javascript:void(0);', role='button') Sign Up
            .col-xs-12.col-sm-4.col-md-2
                .panel.panel-green
                    .panel-heading
                        h3.panel-title.text-center
                            | Gold
                    .panel-body.pan.text-center
                        .the-price
                            h1
                                | $35
                                span.subscript /month
                            small 1 month FREE trial
                        table.table.mbn
                            tbody
                                tr
                                    td
                                        | 5 Account
                                tr.active
                                    td
                                        | 20 Project
                                tr
                                    td
                                        | 300K API Access
                                tr.active
                                    td
                                        | 500MB Storage
                                tr
                                    td
                                        | Custom Cloud Services
                                tr.active
                                    td
                                        | Weekly Reports
                    .panel-footer.pan
                        a.btn.btn-green.btn-block(href='javascript:void(0);', role='button') Sign Up
            .col-xs-12.col-sm-4.col-md-2
                .panel.panel-blue
                    .panel-heading
                        h3.panel-title.text-center
                            | Diamond
                    .panel-body.pan.text-center
                        .the-price
                            h1
                                | $99
                                span.subscript /month
                            small 1 month FREE trial
                        table.table.mbn
                            tbody
                                tr
                                    td
                                        | Unlimited Account
                                tr.active
                                    td
                                        | Unlimited Project
                                tr
                                    td
                                        | 3000K API Access
                                tr.active
                                    td
                                        | Unlimited Storage
                                tr
                                    td
                                        | Custom Cloud Services
                                tr.active
                                    td
                                        | Weekly Reports
                    .panel-footer.pan
                        a.btn.btn-blue.btn-block(href='javascript:void(0);', role='button') Sign Up
            .col-xs-12.col-sm-4.col-md-2
                .panel.panel-yellow
                    .panel-heading
                        h3.panel-title.text-center
                            | Gold
                    .panel-body.pan.text-center
                        .the-price
                            h1
                                | $35
                                span.subscript /month
                            small 1 month FREE trial
                        table.table.mbn
                            tbody
                                tr
                                    td
                                        | 5 Account
                                tr.active
                                    td
                                        | 20 Project
                                tr
                                    td
                                        | 300K API Access
                                tr.active
                                    td
                                        | 500MB Storage
                                tr
                                    td
                                        | Custom Cloud Services
                                tr.active
                                    td
                                        | Weekly Reports
                    .panel-footer.pan
                        a.btn.btn-yellow.btn-block(href='javascript:void(0);', role='button') Sign Up
            .col-xs-12.col-sm-4.col-md-2
                .panel.panel-pink
                    .panel-heading
                        h3.panel-title.text-center
                            | Diamond
                    .panel-body.pan.text-center
                        .the-price
                            h1
                                | $99
                                span.subscript /month
                            small 1 month FREE trial
                        table.table.mbn
                            tbody
                                tr
                                    td
                                        | Unlimited Account
                                tr.active
                                    td
                                        | Unlimited Project
                                tr
                                    td
                                        | 3000K API Access
                                tr.active
                                    td
                                        | Unlimited Storage
                                tr
                                    td
                                        | Custom Cloud Services
                                tr.active
                                    td
                                        | Weekly Reports
                    .panel-footer.pan
                        a.btn.btn-pink.btn-block(href='javascript:void(0);', role='button') Sign Up
