.row
    .col-lg-12
        p
            span.label.label-danger NOTE:
            | &nbsp;
            | This plugins works only on Latest Chrome, Firefox, Safari, Opera & Internet Explorer 10.
        form#my-dropzone.dropzone(action='http://www.torrentplease.com/dropzone.php', ng-dropzone="")