.frontend-pages
    h3.header-option-page.mbxl Light Version
    .row.mbxxl
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page.html', target='_blank')
                    h3 Image Background
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_2.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_2.html', target='_blank')
                    h3 Slider Background
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_3.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_3.html', target='_blank')
                    h3 Solid Background
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_4.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_4.html', target='_blank')
                    h3 Video Background
    .row.mbxxl
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_animated.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_animated.html', target='_blank')
                    h3 Image Background <span class="label">Animation</span>
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_2_animated.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_2_animated.html', target='_blank')
                    h3 Slider Background <span class="label">Animation</span>
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_3_animated.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_3_animated.html', target='_blank')
                    h3 Solid Background <span class="label">Animation</span>
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_4_animated.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_4_animated.html', target='_blank')
                    h3 Video Background <span class="label">Animation</span>
    h3.header-option-page.mbxl Dark Version
    .row.mbxxl
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_dark.html', target='_blank')
                    h3 Image Background
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_2_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_2_dark.html', target='_blank')
                    h3 Slider Background
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_3_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_3_dark.html', target='_blank')
                    h3 Solid Background
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_4_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_4_dark.html', target='_blank')
                    h3 Video Background
    .row.mbxxl
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_animated_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_animated_dark.html', target='_blank')
                    h3 Image Background <span class="label">Animation</span>
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_2_animated_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_2_animated_dark.html', target='_blank')
                    h3 Slider Background <span class="label">Animation</span>
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_3_animated_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_3_animated_dark.html', target='_blank')
                    h3 Solid Background <span class="label">Animation</span>
        .col-lg-3
            .hover-effect
                .img
                    img.img-responsive(src='http://swlabs.co/images/demo/index_4_animated_dark.png', alt='')
                a.info(href='http://swlabs.co/madmin/code/frontend/one-page_4_animated_dark.html', target='_blank')
                    h3 Video Background <span class="label">Animation</span>