.container
  //
    BEGIN CONTENT
  .row.mtxxl.mbxxl
    .col-lg-12.text-center
      h1#intro
        | Welcome to
        span μAdmin
      .seperated
      p We have created an awesome Admin Template ! Select Your Demo.
  .row.mbxxl
    .col-lg-12
      h2.box-header Styles
      .seperated-left
    .col-lg-6
      .box
        a#style1(href='index.html', target='_blank')
          img.img-responsive(src='http://swlabs.co/madmin/images/gallery/style1.png', alt='')
          h3 Squared
    .col-lg-6
      .box
        a#style2(href='index.html', target='_blank')
          img.img-responsive(src='http://swlabs.co/madmin/images/gallery/style2.png', alt='')
          h3 Rounded
    .col-lg-6
      .box
        a#style3(href='index.html', target='_blank')
          img.img-responsive(src='http://swlabs.co/madmin/images/gallery/style3.png', alt='')
          h3 Bordered      
    .col-lg-12.text-center
      p
        | ----- There are new more styles will be provided in future. Of course! All available update are free for buyer -----
  .row.mbxxl
    .col-lg-12
      h2.box-header Colors
      .seperated-left
      ul#list-color.list-inline.list-unstyled
        li
          .block.green-dark.active(data-color='green-dark', data-hover='tooltip', title='Green - Dark')
        li
          .block.red-dark(data-color='red-dark', data-hover='tooltip', title='Red - Dark')
        li
          .block.pink-dark(data-color='pink-dark', data-hover='tooltip', title='Pink - Dark')
        li
          .block.blue-dark(data-color='blue-dark', data-hover='tooltip', title='Blue - Dark')
        li
          .block.yellow-dark(data-color='yellow-dark', data-hover='tooltip', title='Yellow - Dark')
        li
          .block.green-grey(data-color='green-grey', data-hover='tooltip', title='Green - Grey')
        li
          .block.red-grey(data-color='red-grey', data-hover='tooltip', title='Red - Grey')
        li
          .block.pink-grey(data-color='pink-grey', data-hover='tooltip', title='Pink - Grey')
        li
          .block.blue-grey(data-color='blue-grey', data-hover='tooltip', title='Blue - Grey')
        li
          .block.yellow-grey(data-color='yellow-grey', data-hover='tooltip', title='Yellow - Grey')
        li
          .block.yellow-green(data-color='yellow-green', data-hover='tooltip', title='Yellow - Green')
        li
          .block.orange-grey(data-color='orange-grey', data-hover='tooltip', title='Orange - Grey')
        li
          .block.pink-blue(data-color='pink-blue', data-hover='tooltip', title='Pink - Blue')
        li
          .block.pink-violet(data-color='pink-violet', data-hover='tooltip', title='Pink - Violet')
        li
          .block.orange-violet(data-color='orange-violet', data-hover='tooltip', title='Orange - Violet')
        li
          .block.pink-green(data-color='pink-green', data-hover='tooltip', title='Pink - Green')
        li
          .block.pink-brown(data-color='pink-brown', data-hover='tooltip', title='Pink - Brown')
        li
          .block.orange-blue(data-color='orange-blue', data-hover='tooltip', title='Orange - Blue')
        li
          .block.yellow-blue(data-color='yellow-blue', data-hover='tooltip', title='Yellow - Blue')
        li
          .block.green-blue(data-color='green-blue', data-hover='tooltip', title='Green - Blue')
    .col-lg-12.text-center
      p ----- If you want customize color for your site, please contact us -----
  .row
    .col-lg-12
      #footer
        p.copyright 2014 © μAdmin - Responsive Multi-Style Admin Template
  //
    END CONTENT

