.row#title-breadcrumb-page
    .col-lg-12
        .note.note-success
            h4.box-heading Live demo
            p Let hover on the option you like and click "Demo" button to see it works!
        .page-title-breadcrumb.option-demo
            ng-include(src="'templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-left.html'")
        .mbxxl
        .page-title-breadcrumb.option-demo
            ng-include(src="'templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-left-with-label.html'")
        .mbxxl
        .page-title-breadcrumb.option-demo
            ng-include(src="'templates/states/_layout-title-breadcrumb/title-subtitle-breadcrumb-inline-left.html'")
        .mbxxl
        .page-title-breadcrumb.option-demo
            ng-include(src="'templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-right.html'")
        .mbxxl
        .page-title-breadcrumb.option-demo
            ng-include(src="'templates/states/_layout-title-breadcrumb/title-subtitle-breadcrumb-inline-right.html'")
        .mbxxl
        .page-title-breadcrumb.option-demo
            ng-include(src="'templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-with-toolbar.html'")
        .mbxxl
        .page-title-breadcrumb.option-demo
            ng-include(src="'templates/states/_layout-title-breadcrumb/title-subtitle-breadcrumb-left.html'")