.row#header-topbar-page
  .col-lg-12
    .note.note-success
      h4.box-heading Live demo
      p Let hover on the option you like and click "Demo" button to see it works!
    .option-demo
      ng-include(src="'templates/states/_layout-header-topbar/header-topbar-option1.html'", onload="layout_header_topbar_update();")
    .mbxxl
    .option-demo
      ng-include(src="'templates/states/_layout-header-topbar/header-topbar-option2.html'", onload="layout_header_topbar_update();")