.row
    .col-lg-12
        .panel
            .panel-body
                .row.mbxxl
                    .col-lg-6
                        iframe(src='http://player.vimeo.com/video/22439234', style='width: 100%; height:340px; border:0')
                    .col-lg-6
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        ol.pll
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                            li Faucibus porta lacus fringilla vel
                            li Aenean sit amet erat nunc
                            li Eget porttitor lorem
                .row
                    .col-lg-12
                        h2.mbxl Our Team
                        .row
                            .col-lg-3
                                .member-team
                                    img.img-responsive(src='http://lorempixel.com/640/480/business/1/')
                                    h3
                                        | Michelle Bates
                                        small CEO
                                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae.
                                    ul.social-icons.list-unstyled.list-inline.mbl.mtl
                                        li
                                            a.facebook(href='javascript:void(0);', data-hover='tooltip', data-original-title='facebook')
                                                i.fa.fa-facebook
                                        li
                                            a.googleplus(href='javascript:void(0);', data-hover='tooltip', data-original-title='google Plus')
                                                i.fa.fa-google-plus
                                        li
                                            a.skype(href='javascript:void(0);', data-hover='tooltip', data-original-title='skype')
                                                i.fa.fa-skype
                                        li
                                            a.twitter(href='javascript:void(0);', data-hover='tooltip', data-original-title='twitter')
                                                i.fa.fa-twitter
                            .col-lg-3
                                .member-team
                                    img.img-responsive(src='http://lorempixel.com/640/480/business/7/')
                                    h3
                                        | Nathan Murray
                                        small Project Manager
                                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae.
                                    ul.social-icons.list-unstyled.list-inline.mbl.mtl
                                        li
                                            a.facebook(href='javascript:void(0);', data-hover='tooltip', data-original-title='facebook')
                                                i.fa.fa-facebook
                                        li
                                            a.googleplus(href='javascript:void(0);', data-hover='tooltip', data-original-title='google Plus')
                                                i.fa.fa-google-plus
                                        li
                                            a.skype(href='javascript:void(0);', data-hover='tooltip', data-original-title='skype')
                                                i.fa.fa-skype
                                        li
                                            a.twitter(href='javascript:void(0);', data-hover='tooltip', data-original-title='twitter')
                                                i.fa.fa-twitter
                            .col-lg-3
                                .member-team
                                    img.img-responsive(src='http://lorempixel.com/640/480/business/1/')
                                    h3
                                        | Rachel Jordan
                                        small Designer
                                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae.
                                    ul.social-icons.list-unstyled.list-inline.mbl.mtl
                                        li
                                            a.facebook(href='javascript:void(0);', data-hover='tooltip', data-original-title='facebook')
                                                i.fa.fa-facebook
                                        li
                                            a.googleplus(href='javascript:void(0);', data-hover='tooltip', data-original-title='google Plus')
                                                i.fa.fa-google-plus
                                        li
                                            a.skype(href='javascript:void(0);', data-hover='tooltip', data-original-title='skype')
                                                i.fa.fa-skype
                                        li
                                            a.twitter(href='javascript:void(0);', data-hover='tooltip', data-original-title='twitter')
                                                i.fa.fa-twitter
                            .col-lg-3
                                .member-team
                                    img.img-responsive(src='http://lorempixel.com/640/480/business/7/')
                                    h3
                                        | Margaret Adams
                                        small Developer
                                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae.
                                    ul.social-icons.list-unstyled.list-inline.mbl.mtl
                                        li
                                            a.facebook(href='javascript:void(0);', data-hover='tooltip', data-original-title='facebook')
                                                i.fa.fa-facebook
                                        li
                                            a.googleplus(href='javascript:void(0);', data-hover='tooltip', data-original-title='google Plus')
                                                i.fa.fa-google-plus
                                        li
                                            a.skype(href='javascript:void(0);', data-hover='tooltip', data-original-title='skype')
                                                i.fa.fa-skype
                                        li
                                            a.twitter(href='javascript:void(0);', data-hover='tooltip', data-original-title='twitter')
                                                i.fa.fa-twitter