.row
    .col-lg-12
        .panel
            .panel-body
                .row
                    .col-lg-12
                        #gmaps(style='height: 400px')
                .row
                    .col-lg-6
                        h3 Contact
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        hr
                        h4 Address
                        address
                            strong Loop, Inc.
                            br
                            | 7275 Crescent Canyon St
                            br
                            abbr(title='Phone') P: &nbsp;
                            | (573)-119-1911
                        address.mbxl
                            strong Email
                            br
                            a(href='mailto:#')
                                | example@email.com
                        ul.social-icons.list-unstyled.list-inline
                            li
                                a.facebook(href='javascript:void(0);', data-hover='tooltip', data-original-title='facebook')
                                    i.fa.fa-facebook
                            li
                                a.github(href='javascript:void(0);', data-hover='tooltip', data-original-title='github')
                                    i.fa.fa-github
                            li
                                a.googleplus(href='javascript:void(0);', data-hover='tooltip', data-original-title='google Plus')
                                    i.fa.fa-google-plus
                            li
                                a.linkedin(href='javascript:void(0);', data-hover='tooltip', data-original-title='linkedin')
                                    i.fa.fa-linkedin
                            li
                                a.rss(href='javascript:void(0);', data-hover='tooltip', data-original-title='rss')
                                    i.fa.fa-rss
                            li
                                a.skype(href='javascript:void(0);', data-hover='tooltip', data-original-title='skype')
                                    i.fa.fa-skype
                            li
                                a.twitter(href='javascript:void(0);', data-hover='tooltip', data-original-title='twitter')
                                    i.fa.fa-twitter
                            li
                                a.youtube(href='javascript:void(0);', data-hover='tooltip', data-original-title='youtube')
                                    i.fa.fa-youtube
                    .col-lg-6
                        h3 Feedback
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        hr
                        form(action='/#/page-contact')
                            .form-group
                                .input-icon
                                    i.fa.fa-check
                                    input.form-control(type='text', placeholder='Subject')
                            .form-group
                                .input-icon
                                    i.fa.fa-user
                                    input.form-control(type='text', placeholder='Name')
                            .form-group
                                .input-icon
                                    i.fa.fa-envelope
                                    input.form-control(type='password', placeholder='Email')
                            .form-group
                                textarea.form-control(rows='3', placeholder='Content')
                            button.btn.btn-success(type='button') Submit


