.row
    .col-lg-12.blog-page
        .panel
            .panel-body
                .row
                    .col-lg-9.col-md-9.col-sm-8.blog-articles
                        h1 Latest Blog
                        .row
                            .col-md-4.blog-img
                                img.img-responsive(src='http://swlabs.co/madmin/code/images/blogs/1.jpg', alt='')
                                ul.list-inline.blog-date
                                    li
                                        i.fa.fa-calendar.fa-fw
                                        a(href='javascript:void(0);') May 10, 2013
                                    li
                                        i.fa.fa-comments.fa-fw
                                        a(href='javascript:void(0);') 41 Comments
                                ul.list-inline.blog-tags
                                    li
                                        i.fa.fa-tags.fa-fw
                                        a.label.label-default(href='javascript:void(0);') Design
                                        a.label.label-default(href='javascript:void(0);') Development
                                        a.label.label-default(href='javascript:void(0);') Html
                            .col-md-8.blog-article
                                h3
                                    a(href='/#/page-blog-item') Sed ut perspiciatis unde omnis iste natus.
                                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                a.btn.btn-primary(href='/#/page-blog-item')
                                    | Read more
                                    | &nbsp;
                                    i.fa.fa-arrow-circle-right
                        hr
                        .row
                            .col-md-4.blog-img
                                img.img-responsive(src='http://swlabs.co/madmin/code/images/blogs/2.jpg', alt='')
                                ul.list-inline.blog-date
                                    li
                                        i.fa.fa-calendar.fa-fw
                                        a(href='javascript:void(0);') May 10, 2013
                                    li
                                        i.fa.fa-comments.fa-fw
                                        a(href='javascript:void(0);') 41 Comments
                                ul.list-inline.blog-tags
                                    li
                                        i.fa.fa-tags.fa-fw
                                        a.label.label-default(href='javascript:void(0);') Design
                                        a.label.label-default(href='javascript:void(0);') Development
                                        a.label.label-default(href='javascript:void(0);') Html
                            .col-md-8.blog-article
                                h3
                                    a(href='/#/page-blog-item') Sed ut perspiciatis unde omnis iste natus.
                                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                a.btn.btn-primary(href='/#/page-blog-item')
                                    | Read more
                                    | &nbsp;
                                    i.fa.fa-arrow-circle-right
                        hr
                        .row
                            .col-md-4.blog-img
                                img.img-responsive(src='http://swlabs.co/madmin/code/images/blogs/3.jpg', alt='')
                                ul.list-inline.blog-date
                                    li
                                        i.fa.fa-calendar.fa-fw
                                        a(href='javascript:void(0);') May 10, 2013
                                    li
                                        i.fa.fa-comments.fa-fw
                                        a(href='javascript:void(0);') 41 Comments
                                ul.list-inline.blog-tags
                                    li
                                        i.fa.fa-tags.fa-fw
                                        a.label.label-default(href='javascript:void(0);') Design
                                        a.label.label-default(href='javascript:void(0);') Development
                                        a.label.label-default(href='javascript:void(0);') Html
                            .col-md-8.blog-article
                                h3
                                    a(href='/#/page-blog-item') Sed ut perspiciatis unde omnis iste natus.
                                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                a.btn.btn-primary(href='/#/page-blog-item')
                                    | Read more
                                    | &nbsp;
                                    i.fa.fa-arrow-circle-right
                        hr
                        .row
                            .col-md-4.blog-img
                                img.img-responsive(src='http://swlabs.co/madmin/code/images/blogs/4.jpg', alt='')
                                ul.list-inline.blog-date
                                    li
                                        i.fa.fa-calendar.fa-fw
                                        a(href='javascript:void(0);') May 10, 2013
                                    li
                                        i.fa.fa-comments.fa-fw
                                        a(href='javascript:void(0);') 41 Comments
                                ul.list-inline.blog-tags
                                    li
                                        i.fa.fa-tags.fa-fw
                                        a.label.label-default(href='javascript:void(0);') Design
                                        a.label.label-default(href='javascript:void(0);') Development
                                        a.label.label-default(href='javascript:void(0);') Html
                            .col-md-8.blog-article
                                h3
                                    a(href='/#/page-blog-item') Sed ut perspiciatis unde omnis iste natus.
                                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                a.btn.btn-primary(href='/#/page-blog-item')
                                    | Read more
                                    | &nbsp;
                                    i.fa.fa-arrow-circle-right
                    .col-lg-3.col-md-3.col-sm-4.blog-sidebar
                        h3 Search
                        .blog-search
                            .input-group
                                input.form-control(type='text', placeholder='Enter here...')
                                span.input-group-btn
                                    button.btn.btn-default(type='button')
                                        i.fa.fa-search
                        .mbl
                        h3 Tabs
                        .tabbable.tabbable-custom
                            ul.nav.nav-tabs(ng-tab="")
                                li.active
                                    a(data-toggle='tab', href='#tab_1_1') Section 1
                                li
                                    a(data-toggle='tab', href='#tab_1_2') Section 2
                            .tab-content
                                #tab_1_1.tab-pane.active
                                    p I'm in Section 1.
                                    p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                #tab_1_2.tab-pane
                                    p Howdy, I'm in Section 2.
                                    p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        .mbl
                        h3 Flickr
                        ul.list-inline.blog-images
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/1.jpg', data-lightbox='image-1', data-title='Image 1' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/1.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/2.jpg', data-lightbox='image-2', data-title='Image 2' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/2.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/3.jpg', data-lightbox='image-3', data-title='Image 3' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/3.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/4.jpg', data-lightbox='image-4', data-title='Image 4' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/4.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/5.jpg', data-lightbox='image-5', data-title='Image 5' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/5.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/6.jpg', data-lightbox='image-6', data-title='Image 6' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/6.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/7.jpg', data-lightbox='image-7', data-title='Image 7' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/7.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/8.jpg', data-lightbox='image-8', data-title='Image 8' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/8.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/9.jpg', data-lightbox='image-9', data-title='Image 9' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/9.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/10.jpg', data-lightbox='image-10', data-title='Image 10' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/10.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/11.jpg', data-lightbox='image-11', data-title='Image 11' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/11.jpg', alt='')
                            li
                                a(href='http://swlabs.co/madmin/code/images/blogs/12.jpg', data-lightbox='image-12', data-title='Image 12' )
                                    img(src='http://swlabs.co/madmin/code/images/blogs/12.jpg', alt='')
                        .mbl
                        h3 Archives
                        ul.list-unstyled
                            li
                                a(href='javascript:void(0);')
                                    i.fa.fa-caret-right.mrm
                                    | March 2012
                            li
                                a(href='javascript:void(0);')
                                    i.fa.fa-caret-right.mrm
                                    | September 2011
                            li
                                a(href='javascript:void(0);')
                                    i.fa.fa-caret-right.mrm
                                    | July 2011
                            li
                                a(href='javascript:void(0);')
                                    i.fa.fa-caret-right.mrm
                                    | June 2011
                        .mbl


                ul.pagination.pull-right
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-angle-left
                    li
                        a(href='javascript:void(0);')
                            | 1
                    li
                        a(href='javascript:void(0);')
                            | 2
                    li
                        a(href='javascript:void(0);')
                            | 3
                    li
                        a(href='javascript:void(0);')
                            | 4
                    li
                        a(href='javascript:void(0);')
                            | 5
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-angle-right