.row
    .col-md-12
        ul.ul-edit.nav.nav-tabs(role='tablist', ng-tab="")
            li.active
                a(href='#non-responsive', role='tab', data-toggle='tab') Non-Responsive
            li
                a(href='#responsive', role='tab', data-toggle='tab') Full-Responsive
            li
                a(href='#one-column', role='tab', data-toggle='tab') One Column
        .tab-content.tab-edit
            #non-responsive.tab-pane.fade.in.active
                .row
                    .col-lg-12
                        .timeline-centered
                            article.timeline-entry
                                .timeline-entry-inner
                                    time.timeline-time(datetime='2014-01-10T03:45')
                                        span 12:45 AM
                                        span Today
                                    .timeline-icon.bg-violet
                                        i.fa.fa-exclamation
                                    .timeline-label
                                        h2.timeline-title New Project Launch
                                        p Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.
                            article.timeline-entry.left-aligned
                                .timeline-entry-inner
                                    time.timeline-time(datetime='2014-01-10T03:45')
                                        span 9:15 AM
                                        span Today
                                    .timeline-icon.bg-green
                                        i.fa.fa-group
                                    .timeline-label.bg-green
                                        h2.timeline-title Job Meeting
                                        p Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi..
                            article.timeline-entry
                                .timeline-entry-inner
                                    time.timeline-time(datetime='2014-01-09T13:22')
                                        span 8:20 PM
                                        span 04/03/2013
                                    .timeline-icon.bg-orange
                                        i.fa.fa-paper-plane
                                    .timeline-label.bg-orange
                                        h2.timeline-title Daily Feeds
                                        p
                                            img.timeline-img.pull-left(src="http://lorempixel.com/75/75/nature/3/", alt='')
                                            | Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.
                            article.timeline-entry.left-aligned
                                .timeline-entry-inner
                                    time.timeline-time(datetime='2014-01-09T13:22')
                                        span 6:45 PM
                                        span 04/03/2013
                                    .timeline-icon.bg-pink
                                        i.fa.fa-map-marker
                                    .timeline-label.bg-pink
                                        h2.timeline-title Promotion Day
                                        p
                                            img.timeline-img.pull-right(src="http://lorempixel.com/75/75/nature/3/", alt='')
                                            | Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard
                            article.timeline-entry
                                .timeline-entry-inner
                                    time.timeline-time(datetime='2014-01-10T03:45')
                                        span 03:45 AM
                                        span 04/03/2013
                                    .timeline-icon.bg-yellow
                                        i.fa.fa-camera
                                    .timeline-label
                                        img.img-responsive.img-rounded(src='images/gallery/1.jpg', alt='')
                            article.timeline-entry.begin
                                .timeline-entry-inner
                                    .timeline-icon(style='-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);')
                                        i.fa.fa-plus
            #responsive.tab-pane.fade
                ul.timeline
                    li
                        .timeline-badge.primary
                            i.glyphicon.glyphicon-check
                        .timeline-panel.primary
                            .timeline-heading
                                h4.timeline-title Mussum ipsum cacilds
                                p
                                small.text-muted
                                    i.glyphicon.glyphicon-time
                                    | 11 hours ago via Twitter
                            .timeline-body
                                p
                                    | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                    li.timeline-inverted
                        .timeline-badge.warning
                            i.glyphicon.glyphicon-credit-card
                        .timeline-panel.warning
                            .timeline-heading
                                h4.timeline-title Mussum ipsum cacilds
                                p
                                small.text-muted(style="color: #DFDFDF")
                                    i.glyphicon.glyphicon-time
                                    | 05 hours ago via Facebook
                            .timeline-body
                                p
                                  | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                p
                                    img(src="http://placekitten.com/g/80/80", style="margin: 5px 10px; float:left")
                                  | Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.
                    li
                        .timeline-badge.danger
                            i.glyphicon.glyphicon-credit-card
                        .timeline-panel.danger
                            .timeline-heading
                                h4.timeline-title Mussum ipsum cacilds
                                p
                                small.text-muted
                                    i.glyphicon.glyphicon-time
                                    | 5 hours ago via Twitter
                            .timeline-body
                                p
                                  | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                    
                    li.timeline-inverted
                        .timeline-badge.info
                            i.glyphicon.glyphicon-floppy-disk
                        .timeline-panel.info
                            .timeline-heading
                                h4.timeline-title Mussum ipsum cacilds
                                p
                                small.text-muted
                                    i.glyphicon.glyphicon-time
                                    | 11 hours ago via Twitter
                            .timeline-body
                                p
                                  | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                hr
                                .btn-group
                                    button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                                        i.glyphicon.glyphicon-cog
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li
                                            a(href='#') Action
                                        li
                                            a(href='#') Another action
                                        li
                                            a(href='#') Something else here
                                        li.divider
                                        li
                                            a(href='#') Separated link
                    li
                        .timeline-panel
                            .timeline-heading
                                h4.timeline-title Mussum ipsum cacilds
                                p
                                small.text-muted
                                    i.glyphicon.glyphicon-time
                                    | 11 hours ago via Twitter
                            .timeline-body
                                p
                                    | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                    li.timeline-inverted
                        .timeline-badge.success
                            i.glyphicon.glyphicon-thumbs-up
                        .timeline-panel.success
                            .timeline-heading
                                h4.timeline-title Mussum ipsum cacilds
                                p
                                small.text-muted
                                    i.glyphicon.glyphicon-time
                                    | 11 hours ago via Twitter
                            .timeline-body
                                p
                                  | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
            #one-column.tab-pane.fade
                #md9.message-item.blue
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=Oleg+Kolesnichenko')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg')
                            .user-detail
                                h5.handle John Doe
                            .post-meta
                                .asker-meta
                                    span.qa-message-when
                                        span.qa-message-when-data Jan 21
                                    span.qa-message-who
                                        span.qa-message-who-pad by 
                                        span.qa-message-who-data
                                        a(href='./index.php?qa=user&qa_1=Oleg+Kolesnichenko') Oleg Kolesnichenko
                        .qa-message-content
                          | Yo! Like this.
                #m8.message-item.red
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=amiya')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/48.jpg')
                            .user-detail
                                h5.handle amiya
                            .post-meta
                                .asker-meta
                                    span.qa-message-what
                                    span.qa-message-when
                                        span.qa-message-when-data Nov 24, 2013
                                    span.qa-message-who
                                        span.qa-message-who-pad by 
                                        span.qa-message-who-data
                                        a(href='./index.php?qa=user&qa_1=amiya') amiya
                        .qa-message-content
                          | Nice theme . Excellent one .
                #m7.message-item.green
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=russell')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg')
                            .user-detail
                                h5.handle russell
                                .post-meta
                                    .asker-meta
                                        span.qa-message-what
                                        span.qa-message-when
                                            span.qa-message-when-data Oct 25, 2013
                                        span.qa-message-who
                                            span.qa-message-who-pad by 
                                            span.qa-message-who-data
                                            a(href='./index.php?qa=user&qa_1=russell') russell
                        .qa-message-content
                          | Nullam porta leo vitae ipsum feugiat viverra. In sed placerat mi. Nullam euismod, quam in euismod rhoncus, tellus velit posuere tortor, non cursus nunc velit et lacus.
                #m6.message-item.orange
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=juggornot')
                                  img(src='https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg')
                            .user-detail
                                h5.handle juggornot
                                .post-meta
                                    .asker-meta
                                        span.qa-message-what
                                        span.qa-message-when
                                            span.qa-message-when-data Oct 24, 2013
                                        span.qa-message-who
                                            span.qa-message-who-pad by 
                                            span.qa-message-who-data
                                            a(href='./index.php?qa=user&qa_1=juggornot') juggornot
                        .qa-message-content
                          | Integer vitae arcu vitae ligula Cras vestibulum suscipit odio ac dapibus. In hac habitasse platea dictumst. Cras pulvinar erat et nunc fringilla, quis molestie
                #m5.message-item.pink
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=one_eyed')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/loschinin/128.jpg')
                            .user-detail
                                h5.handle one_eyed
                                .post-meta
                                    .asker-meta
                                        span.qa-message-what
                                        span.qa-message-when
                                            span.qa-message-when-data Oct 24, 2013
                                        span.qa-message-who
                                            span.qa-message-who-pad by 
                                            span.qa-message-who-data
                                            a(href='./index.php?qa=user&qa_1=one_eyed') one_eyed
                        .qa-message-content
                          | Nulla dui ante, pulvinar ac auctor vitae, sollicitudin et tortor. Cras vestibulum suscipit odio ac dapibus. In hac habitasse platea dictumst. Cras pulvinar erat et nunc fringilla, quis molestie diam pulvinar.
                #m4.message-item.green
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=muboy')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg')
                            .user-detail
                                h5.handle muboy
                                .post-meta
                                    .asker-meta
                                        span.qa-message-what
                                        span.qa-message-when
                                            span.qa-message-when-data Oct 24, 2013
                                        span.qa-message-who
                                            span.qa-message-who-pad by 
                                            span.qa-message-who-data
                                            a(href='./index.php?qa=user&qa_1=muboy') muboy
                        .qa-message-content
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.
                          br
                          | Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,
                #m3.message-item.blue
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=muboy')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/loschinin/128.jpg')
                            .user-detail
                                h5.handle muboy
                                .post-meta
                                    .asker-meta
                                        span.qa-message-what
                                        span.qa-message-when
                                            span.qa-message-when-data Oct 24, 2013
                                        span.qa-message-who
                                            span.qa-message-who-pad by 
                                            span.qa-message-who-data
                                            a(href='./index.php?qa=user&qa_1=muboy') muboy
                        .qa-message-content
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.
                          br
                          | Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,
                #m2.message-item.orange
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=muboy')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg')
                            .user-detail
                                h5.handle muboy
                                .post-meta
                                    .asker-meta
                                        span.qa-message-what
                                        span.qa-message-when
                                            span.qa-message-when-data Oct 24, 2013
                                        span.qa-message-who
                                            span.qa-message-who-pad by 
                                            span.qa-message-who-data
                                            a(href='./index.php?qa=user&qa_1=muboy') muboy
                        .qa-message-content
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.
                          br
                          | Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,
                #m1.message-item.green
                    .message-inner
                        .message-head.clearfix
                            .avatar.pull-left
                                a(href='./index.php?qa=user&qa_1=muboy')
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/loschinin/128.jpg')
                            .user-detail
                                h5.handle muboy
                                .post-meta
                                    .asker-meta
                                        span.qa-message-what
                                        span.qa-message-when
                                            span.qa-message-when-data Oct 24, 2013
                                        span.qa-message-who
                                            span.qa-message-who-pad by 
                                            span.qa-message-who-data
                                            a(href='./index.php?qa=user&qa_1=muboy') muboy
                        .qa-message-content
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.
                          br
                          | Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,