.row
    .col-lg-12
        .note.note-info
            h4.box-heading Jeditable
            p Click "edit" button to change data row, then click "save" to apply. Using "delete" button to trash that row.
            p Fill value into search form to find.
    .col-lg-12        
        .portlet.box
            .portlet-header
                .caption Datatable Editable
            .portlet-body
                .table-responsive
                    table#example1.table.table-striped.table-bordered.table-hover(style="border-bottom:1px solid #ddd")
                        thead
                            tr
                                th Rendering engine
                                th Browser
                                th Platform(s)
                                th Engine version
                                th CSS grade
                                th Edit
                                th Delete
                        tbody
                            tr.odd.gradeX
                                td Trident
                                td
                                    | Internet
                                    | Explorer 4.0
                                td Win 95+
                                td.center  4
                                td.center X
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeC
                                td Trident
                                td
                                    | Internet
                                    | Explorer 5.0
                                td Win 95+
                                td.center 5
                                td.center C
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.odd.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 5.5
                                td Win 95+
                                td.center 5.5
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 6
                                td Win 98+
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.odd.gradeA
                                td Trident
                                td Internet Explorer 7
                                td Win XP SP2+
                                td.center 7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td AOL browser (AOL desktop)
                                td Win XP
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Firefox 1.0
                                td Win 98+ / OSX.2+
                                td.center 1.7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Firefox 1.5
                                td Win 98+ / OSX.2+
                                td.center 1.8
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Firefox 2.0
                                td Win 98+ / OSX.2+
                                td.center 1.8
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Firefox 3.0
                                td Win 2k+ / OSX.3+
                                td.center 1.9
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Camino 1.0
                                td OSX.2+
                                td.center 1.8
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Camino 1.5
                                td OSX.3+
                                td.center 1.8
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Netscape 7.2
                                td Win 95+ / Mac OS 8.6-9.2
                                td.center 1.7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Netscape Browser 8
                                td Win 98SE+
                                td.center 1.7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Netscape Navigator 9
                                td Win 98+ / OSX.2+
                                td.center 1.8
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Mozilla 1.0
                                td Win 95+ / OSX.1+
                                td.center 1
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
