.row
    .col-lg-6
        .panel.panel-yellow
            .panel-heading Simple Table
            .panel-body
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
        .panel.panel-green
            .panel-heading Bordered Table
            .panel-body
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
        .panel.panel-red
            .panel-heading Contextual Row
            .panel-body
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Column
                            th Column
                            th Column
                    tbody
                        tr.active
                            td 1
                            td active
                            td active
                            td active
                        tr.success
                            td 2
                            td success
                            td success
                            td success
                        tr.warning
                            td 3
                            td warning
                            td warning
                            td warning
                        tr.danger
                            td 4
                            td danger
                            td danger
                            td danger
        .panel.panel-blue
            .panel-heading Variations Table
            .panel-body
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
                    tfoot
                        tr
                            th
                            th <i>4 People</i>
                            th
                            th <i>1 Approved</i>
    .col-lg-6
        .panel.panel-violet
            .panel-heading Striped Table
            .panel-body
                table.table.table-hover.table-striped
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
        .panel.panel-pink
            .panel-heading Condensed Table
            .panel-body
                table.table.table-hover.table-condensed
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
        .panel.panel-grey
            .panel-heading Contextual Column
            .panel-body
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Column
                            th Column
                            th Column
                            th Column
                    tbody
                        tr
                            td 1
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 2
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 3
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 4
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 5
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
        .panel.panel-orange
            .panel-heading Hover Table - Opion 1
            .panel-body
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
        .panel.panel-green
            .panel-heading Hover Table - Opion 2
            .panel-body
                table.table.table-hover-color
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked