.row
    .col-lg-6
        .panel.panel-white
            .panel-heading Button Outlined
            .panel-body
                .demo-btn
                    button.btn.btn-default.btn-outlined(type='button') Default
                    button.btn.btn-primary.btn-outlined(type='button') Primary
                    button.btn.btn-success.btn-outlined(type='button') Success
                    button.btn.btn-info.btn-outlined(type='button') Info
                    button.btn.btn-warning.btn-outlined(type='button') Warning
                    button.btn.btn-danger.btn-outlined(type='button') Danger
        .panel.panel-white
            .panel-heading Button Outlined Color
            .panel-body
                .demo-btn
                    button.btn.btn-red.btn-outlined(type='button') Red
                    button.btn.btn-orange.btn-outlined(type='button') Orange
                    button.btn.btn-green.btn-outlined(type='button') Green
                    button.btn.btn-yellow.btn-outlined(type='button') Yellow
                    button.btn.btn-blue.btn-outlined(type='button') Blue
                    button.btn.btn-violet.btn-outlined(type='button') Violet
                    button.btn.btn-pink.btn-outlined(type='button') Pink
                    button.btn.btn-grey.btn-outlined(type='button') Grey
                    button.btn.btn-dark.btn-outlined(type='button') Dark
        .panel.panel-white
            .panel-heading Button Outlined Square
            .panel-body
                .demo-btn
                    button.btn.btn-default.btn-outlined.btn-square(type='button') Default
                    button.btn.btn-primary.btn-outlined.btn-square(type='button') Primary
                    button.btn.btn-success.btn-outlined.btn-square(type='button') Success
                    button.btn.btn-info.btn-outlined.btn-square(type='button') Info
                    button.btn.btn-warning.btn-outlined.btn-square(type='button') Warning
                    button.btn.btn-danger.btn-outlined.btn-square(type='button') Danger
        .panel.panel-white
            .panel-heading Button Outlined Square Color
            .panel-body
                .demo-btn
                    button.btn.btn-red.btn-outlined.btn-square(type='button') Red

                    button.btn.btn-orange.btn-outlined.btn-square(type='button') Orange

                    button.btn.btn-green.btn-outlined.btn-square(type='button') Green

                    button.btn.btn-yellow.btn-outlined.btn-square(type='button') Yellow

                    button.btn.btn-blue.btn-outlined.btn-square(type='button') Blue

                    button.btn.btn-violet.btn-outlined.btn-square(type='button') Violet

                    button.btn.btn-pink.btn-outlined.btn-square(type='button') Pink

                    button.btn.btn-grey.btn-outlined.btn-square(type='button') Grey

                    button.btn.btn-dark.btn-outlined.btn-square(type='button') Dark
        .panel.panel-white
            .panel-heading Vertical Variation
            .panel-body
                .btn-group-vertical.mbm
                    button.btn.btn-default(type='button')
                        i.fa.fa-align-left
                    button.btn.btn-default(type='button')
                        i.fa.fa-align-center
                    button.btn.btn-default(type='button')
                        i.fa.fa-align-right
                    button.btn.btn-default(type='button')
                        i.fa.fa-align-justify
                | &nbsp;&nbsp;
                .btn-group-vertical.mbm
                    button.btn.btn-primary(type='button')
                        i.fa.fa-align-left
                    button.btn.btn-primary(type='button')
                        i.fa.fa-align-center
                    button.btn.btn-primary(type='button')
                        i.fa.fa-align-right
                    button.btn.btn-primary(type='button')
                        i.fa.fa-align-justify
                | &nbsp;&nbsp;
                .btn-group-vertical.mbm
                    button.btn.btn-green(type='button')
                        i.fa.fa-align-left
                    button.btn.btn-green(type='button')
                        i.fa.fa-align-center
                    button.btn.btn-green(type='button')
                        i.fa.fa-align-right
                    button.btn.btn-green(type='button')
                        i.fa.fa-align-justify
        .panel.panel-white
            .panel-heading Justified Button Groups
            .panel-body
                .btn-group.btn-group-justified
                    a.btn.btn-default(role='button') Left
                    a.btn.btn-default(role='button') Middle
                    a.btn.btn-default(role='button') Right
                br
                .btn-group.btn-group-justified
                    a.btn.btn-default(role='button') Left
                    a.btn.btn-default(role='button') Middle
                    .btn-group
                        a.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                            | Dropdown
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
        .panel.panel-white
            .panel-heading Split button dropdowns
            .panel-body
                .demo-btn-group
                    .btn-group
                        button.btn.btn-default(type='button') Default
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-primary(type='button') Primary
                        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-success(type='button') Success
                        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-warning(type='button') Warning
                        button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-info(type='button') Info
                        button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-danger(type='button') Danger
                        button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-red(type='button') Red
                        button.btn.btn-red.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-orange(type='button') Orange
                        button.btn.btn-orange.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-green(type='button') Green
                        button.btn.btn-green.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-yellow(type='button') Yellow
                        button.btn.btn-yellow.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-blue(type='button') Blue
                        button.btn.btn-blue.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-violet(type='button') Violet
                        button.btn.btn-violet.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-pink(type='button') Pink
                        button.btn.btn-pink.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-grey(type='button') Grey
                        button.btn.btn-grey.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-dark(type='button') Dark
                        button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
        .panel.panel-white
            .panel-heading Dropup variation
            .panel-body
                .btn-toolbar(role='toolbar')
                    .btn-group.dropup
                        button.btn.btn-default(type='button') Dropup
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group.dropup
                        button.btn.btn-primary(type='button') Right dropup
                        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu.pull-right(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
    .col-lg-6
        .panel.panel-white
            .panel-heading Button Default
            .panel-body
                .demo-btn
                    button.btn.btn-default(type='button') Default

                    button.btn.btn-primary(type='button') Primary

                    button.btn.btn-success(type='button') Success

                    button.btn.btn-info(type='button') Info

                    button.btn.btn-warning(type='button') Warning

                    button.btn.btn-danger(type='button') Danger
        .panel.panel-white
            .panel-heading Button Color
            .panel-body
                .demo-btn
                    button.btn.btn-red(type='button') Red

                    button.btn.btn-orange(type='button') Orange

                    button.btn.btn-green(type='button') Green

                    button.btn.btn-yellow(type='button') Yellow

                    button.btn.btn-blue(type='button') Blue

                    button.btn.btn-violet(type='button') Violet

                    button.btn.btn-pink(type='button') Pink

                    button.btn.btn-grey(type='button') Grey

                    button.btn.btn-dark(type='button') Dark
        .panel.panel-white
            .panel-heading Button Square
            .panel-body
                .demo-btn
                    button.btn.btn-default.btn-square(type='button') Default

                    button.btn.btn-primary.btn-square(type='button') Primary

                    button.btn.btn-success.btn-square(type='button') Success

                    button.btn.btn-info.btn-square(type='button') Info

                    button.btn.btn-warning.btn-square(type='button') Warning

                    button.btn.btn-danger.btn-square(type='button') Danger
        .panel.panel-white
            .panel-heading Button Square Color
            .panel-body
                .demo-btn
                    button.btn.btn-red.btn-square(type='button') Red

                    button.btn.btn-orange.btn-square(type='button') Orange

                    button.btn.btn-green.btn-square(type='button') Green

                    button.btn.btn-yellow.btn-square(type='button') Yellow

                    button.btn.btn-blue.btn-square(type='button') Blue

                    button.btn.btn-violet.btn-square(type='button') Violet

                    button.btn.btn-pink.btn-square(type='button') Pink

                    button.btn.btn-grey.btn-square(type='button') Grey

                    button.btn.btn-dark.btn-square(type='button') Dark
        .panel.panel-white
            .panel-heading Button Sizing
            .panel-body
                .demo-btn
                    button.btn.btn-default.btn-lg(type='button') Large Button

                    button.btn.btn-default(type='button') Default Button

                    button.btn.btn-default.btn-sm(type='button') Small Button

                    button.btn.btn-default.btn-xs(type='button') Extra Small Button
                    .mbm
                    button.btn.btn-default.btn-block(type='button') Block Button
        .panel.panel-white
            .panel-heading Button Group
            .panel-body
                .btn-toolbar(role='toolbar')
                    .btn-group
                        button.btn.btn-default(type='button') 1
                        button.btn.btn-default(type='button') 2
                        button.btn.btn-default(type='button') 3
                        button.btn.btn-default(type='button') 4
                    .btn-group
                        button.btn.btn-default(type='button') 5
                        button.btn.btn-default(type='button') 6
                        button.btn.btn-default(type='button') 7
                    .btn-group
                        button.btn.btn-default(type='button') 8
                br
                .btn-toolbar(role='toolbar')
                    .btn-group.mbm
                        button.btn.btn-default(type='button') Left
                        button.btn.btn-default(type='button') Middle
                        button.btn.btn-default(type='button') Right
                .btn-toolbar(role='toolbar')
                    .btn-group
                        .btn-group
                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                | Dropdown
                                | &nbsp;
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='javascript:void(0);') Dropdown link
                                li
                                    a(href='javascript:void(0);') Dropdown link
                            button.btn.btn-default(type='button') 1
                            button.btn.btn-default(type='button') 2
                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                | Dropdown
                                | &nbsp;
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='javascript:void(0);') Dropdown link
                                li
                                    a(href='javascript:void(0);') Dropdown link
        .panel.panel-white
            .panel-heading Single Button Dropdowns
            .panel-body
                .demo-btn-group
                    .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Default
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Primary
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Success
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Info
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Warning
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Danger
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-red.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Red
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-orange.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Orange
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-green.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Green
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-yellow.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Yellow
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-blue.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Blue
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-violet.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Violet
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-pink.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Pink
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-grey.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Grey
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
                    .btn-group
                        button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Dark
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:void(0);') Action
                            li
                                a(href='javascript:void(0);') Another action
                            li
                                a(href='javascript:void(0);') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0);') Separated link
        .panel.panel-white
            .panel-heading Button Icon
            .panel-body
                .demo-btn
                    a.btn.btn-default(href='javascript:void(0);')
                        | Default
                        | &nbsp;
                        i.fa.fa-edit
                    a.btn.btn-primary(href='javascript:void(0);')
                        | Primary
                        | &nbsp;
                        i.fa.fa-tint
                    a.btn.btn-success(href='javascript:void(0);')
                        | Success
                        | &nbsp;
                        i.fa.fa-rocket
                    a.btn.btn-info(href='javascript:void(0);')
                        i.fa.fa-user
                        | &nbsp;
                        | Info
                    a.btn.btn-warning(href='javascript:void(0);')
                        i.fa.fa-star-o
                        | &nbsp;
                        | Warning
                    a.btn.btn-danger(href='javascript:void(0);')
                        | Danger
                        | &nbsp;
                        i.fa.fa-search
                    a.btn.btn-red(href='javascript:void(0);')
                        i.fa.fa-edit
                    a.btn.btn-orange(href='javascript:void(0);')
                        i.fa.fa-tint
                    a.btn.btn-yellow(href='javascript:void(0);')
                        i.fa.fa-rocket
                    a.btn.btn-green(href='javascript:void(0);')
                        i.fa.fa-user
                    a.btn.btn-blue(href='javascript:void(0);')
                        i.fa.fa-star-o
                    a.btn.btn-pink(href='javascript:void(0);')
                        i.fa.fa-search
                    a.btn.btn-violet(href='javascript:void(0);')
                        i.fa.fa-keyboard-o
                    a.btn.btn-grey(href='javascript:void(0);')
                        i.fa.fa-headphones
                    a.btn.btn-dark(href='javascript:void(0);')
                        i.fa.fa-font