.row
    .col-lg-6
        .panel
            .panel-body.pan
                form.form-horizontal.form-bordered(action='#')
                    .form-body
                        .form-group
                            label.col-md-3.control-label(for='') Default
                            .col-md-4
                                button.btn.btn-primary(type='button', data-target='#modal-default', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Responsive
                            .col-md-4
                                button.btn.btn-yellow(type='button', data-target='#modal-responsive', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Stackable
                            .col-md-4
                                button.btn.btn-green(type='button', data-target='#modal-stackable', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Full Width
                            .col-md-4
                                button.btn.btn-blue(type='button', data-target='#modal-full-width', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Wide Width
                            .col-md-4
                                button.btn.btn-primary(type='button', data-target='#modal-wide-width', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Static Background
                            .col-md-4
                                button.btn.btn-yellow(type='button', data-target='#modal-static', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Left Footer
                            .col-md-4
                                button.btn.btn-blue(type='button', data-target='#modal-left-footer', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Header Primary
                            .col-md-4
                                button.btn.btn-green(type='button', data-target='#modal-header-primary', data-toggle="modal") View Demo
    .col-lg-6
        .panel
            .panel-body.pan
                form.form-horizontal.form-bordered(action='#')
                    .form-body
                        .form-group
                            label.col-md-3.control-label(for='') Long Modals
                            .col-md-4
                                button.btn.btn-green(type='button', data-target='#modal-long', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Alert
                            .col-md-4
                                button.btn.btn-blue(type='button', data-target='#modal-alert', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Confirm
                            .col-md-4
                                button.btn.btn-primary(type='button', data-target='#modal-confirm', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Custom Dialog
                            .col-md-4
                                button.btn.btn-yellow(type='button', data-target='#modal-custom-dialog', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Login
                            .col-md-4
                                button.btn.btn-green(type='button', data-target='#modal-login', data-toggle="modal") View Demo
                        .form-group
                            label.col-md-3.control-label(for='') Prompt
                            .col-md-4
                                button.btn.btn-blue(type='button', data-target='#modal-prompt', data-toggle="modal") View Demo