.row
    .col-lg-3
        .panel.panel-default
            .panel-body
                strong.text-uppercase Panel without Heading & Footer
                br
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi ut aliquip ex ea commodo consequat.
    .col-lg-3
        .panel.panel-primary
            .panel-heading Heading without title
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-lg-3
        .panel.panel-green
            .panel-heading
                h3.panel-title Panel title
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-lg-3
        .panel.panel-orange
            .panel-heading
                i.fa.fa-paper-plane-o
                | &nbsp;
                | Heading with Icon
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.row
    .col-lg-6
        .panel
            .panel-heading
                | Panel Heading with Subtitle
                span.subtitle Subtitle examples...
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-lg-6
        .panel
            .panel-heading
                | Panel Heading with Subtitle
                p.subtitle.mln Subtitle examples...
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.row
    .col-lg-6
        .panel.panel-red
            .panel-heading.clearfix
                span.mts.pull-left Panel Heading with Input
                .toolbars
                    .input-icon.right
                        i.fa.fa-search
                        input.form-control.input-medium(type="text", placeholder="Search")
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    .col-lg-6
        .panel.panel-yellow
            .panel-heading.clearfix
                span.mts.pull-left Panel Heading with Dropdown
                .toolbars
                    .btn-group
                        button.btn.btn-white.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                            i.fa.fa-cogs
                            | &nbsp;
                            | Setting
                            | &nbsp;
                            span.caret
                        ul.dropdown-menu.pull-right
                            li
                                a(href='#')
                                    i.fa.fa-pencil
                                    | &nbsp;
                                    | Edit
                            li
                                a(href='#')
                                    i.fa.fa-trash-o
                                    | &nbsp;
                                    | Delete
                            li
                                a(href='#')
                                    i.fa.fa-refresh
                                    | &nbsp;
                                    | Update
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
.row
    .col-lg-6
        .panel.panel-blue
            .panel-heading.clearfix
                span.mts.pull-left Panel Heading with Button Group
                .toolbars
                    .btn-group
                        button.btn.btn-white(type='button')
                            i.fa.fa-align-left
                        button.btn.btn-white(type='button')
                            i.fa.fa-align-center
                        button.btn.btn-white(type='button')
                            i.fa.fa-align-right
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    .col-lg-6
        .panel.panel-green
            .panel-heading.clearfix
                span.mts.pull-left Panel Heading with Dropdown
                .toolbars
                    .btn-group.mts
                        a(href='javascript:;')
                            i.fa.fa-cogs
                        a(href='javascript:;')
                            i.fa.fa-edit
                        a(href='javascript:;')
                            i.fa.fa-download
                        a(href='javascript:;')
                            i.fa.fa-paperclip
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
