.row
    .col-lg-8
        .panel.panel-white
            .panel-heading General
            .panel-body
                .row
                    .col-md-6
                        h3 Sample Text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.
                        p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
                        .clearfix
                        h3 Sample text with lead body
                        p.lead Lead body. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.
                        p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
                        .clearfix
                        h3 More Text
                        p
                            small Small text.
                            = ' '
                            | Lorem ipsum dolor
                        p
                            | Lorem ipsum dolor sit amet
                            = ' '
                            strong Bold text
                        p
                            em Italic text.
                            = ' '
                            | Lorem ipsum dolor
                        p
                            | An abbreviation of the word attribute is
                            = ' '
                            abbr(title="attribute") attr
                        p
                            abbr.initialism(title="HyperText Markup Language") HTML
                            = ' '
                            | is the best thing since sliced bread.
                    .col-md-6
                        h3 Text States
                        p.text-muted Muted text Lorem ipsum dolor sit
                        p.text-primary Primary text Lorem ipsum dolor sit
                        p.text-red Red text Lorem ipsum dolor sit
                        p.text-orange Orange text Lorem ipsum Lorem dolor sit
                        p.text-green Green text Lorem ipsum dolor sit
                        p.text-yellow Yellow text Lorem ipsum dolor sit
                        p.text-blue Blue text Lorem ipsum dolor sit
                        p.text-success Success text Lorem ipsum dolor sit
                        p.text-warning Warning text Lorem ipsum dolor sit
                        p.text-info Info text Lorem ipsum dolor sit
                        p.text-danger Danger text Lorem ipsum dolor sit
                        .clearfix
                        h3 Heading
                        h1 h1.Heading 1
                        h2 h2.Heading 2
                        h3 h3.Heading 3
                        h4 h4.Heading 4
                        h5 h5.Heading 5
                        h6 h6.Heading 6
                        .clearfix
                        h3 Address
                        .well
                            address
                                strong Twitter, Inc.
                                br
                                | 795 Folsom Ave, Suite 600
                                br
                                | San Francisco, CA 94107
                                br
                                abbr(title='Phone') P:
                                | (123) 456-7890
                            address
                                strong Full Name
                                br
                                a(href='mailto:#') first.last@example.com
        .panel.panel-white
            .panel-heading Blockquotes
            .panel-body
                blockquote
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                blockquote
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    footer
                        | Someone famous in
                        cite(title='Source Title') Source Title
                blockquote.blockquote-reverse
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    footer
                        | Someone famous in
                        cite(title='Source Title') Source Title
        .panel.panel-white
            .panel-heading Alignments
            .panel-body
                p.text-left Left aligned text.
                p.text-center Center aligned text.
                p.text-right Right aligned text.
    .col-lg-4
        .panel.panel-white
            .panel-heading Ordered Lists
            .panel-body
                ol
                    li Lorem ipsum dolor sit amet
                    li Consectetur adipiscing elit
                    li Integer molestie lorem at massa
                    li Facilisis in pretium nisl aliquet
                    li Nulla volutpat aliquam velit
                    li Faucibus porta lacus fringilla vel
                    li Aenean sit amet erat nunc
                    li Eget porttitor lorem
        .panel.panel-white
            .panel-heading Unordered Lists
            .panel-body
                ul
                    li Lorem ipsum dolor sit amet
                    li Consectetur adipiscing elit
                    li Integer molestie lorem at massa
                    li Facilisis in pretium nisl aliquet
                    li Nulla volutpat aliquam velit
                        ul
                            li Phasellus iaculis neque
                            li Purus sodales ultricies
                            li Vestibulum laoreet porttitor sem
                            li Ac tristique libero volutpat at
                    li Faucibus porta lacus fringilla vel
                    li Aenean sit amet erat nunc
                    li Eget porttitor lorem
        .panel.panel-white
            .panel-heading Lists With Font Awesome
            .panel-body
                ul.list-icon
                    li Lorem ipsum dolor sit amet
                    li Consectetur adipiscing elit
                    li Integer molestie lorem at massa
                    li Facilisis in pretium nisl aliquet
                    li Nulla volutpat aliquam velit
                    li Faucibus porta lacus fringilla vel
                    li Aenean sit amet erat nunc
                    li Eget porttitor lorem
        .panel.panel-white
            .panel-heading Unstyled Lists
            .panel-body
                ul.list-unstyled
                    li Lorem ipsum dolor sit amet
                    li Consectetur adipiscing elit
                    li Integer molestie lorem at massa
                    li Facilisis in pretium nisl aliquet
                    li Nulla volutpat aliquam velit
                    li Faucibus porta lacus fringilla vel
                    li Aenean sit amet erat nunc
                    li Eget porttitor lorem
        .panel.panel-white
            .panel-heading Inline Lists
            .panel-body
                ol.list-inline
                    li 1.Lorem ipsum
                    li 2.Consectetur
                    li 3.Integer
        .panel.panel-white
            .panel-heading Description Lists
            .panel-body
                dl
                    dt Description lists
                    dd A description list is perfect for defining terms.
                    dt Euismod
                    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                    dd Donec id elit non mi porta gravida at eget metus.
                    dt Malesuada porta
                    dd Etiam porta sem malesuada magna mollis euismod.